mixin footer
	footer.main-footer
		.template-wrapper.template-wrapper_footer
			.footer-col.footer-col_footer-phone
				.call-text Остались вопросы? Звоните:
				a(href="tel:88005117825").footer-phone 8 800 511-78-25
				.footer-operating-mode В будни с 9:00 до 18:00 (МСК +5)
			.footer-col.footer-col_information
				.actual-address Фактический адрес: г.&nbsp;Иркутск,&nbsp;ул.&nbsp;Терешковой,&nbsp;д.&nbsp;15Б
				.inn
					| ИНН: 381115999541<br>
					| ОГРНИП: 318385000008444
				a(href="#" target="_blank").public-offer.content-link
					| Публичная оферта
				a(href="#" target="_blank").public-offer.content-link
					| Соглашение об использовании сайта
				a(href="//mmit.ru/" target="_blank").public-offer.megamir-link.content-link
					| <span class="megamir-link-text">Мегамир</span>
					| <svg class="footer-link" width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					|     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
					|         <g transform="translate(-1102.000000, -2240.000000)" fill="#0066FF" fill-rule="nonzero">
					|             <g transform="translate(968.000000, 2239.000000)">
					|                 <g transform="translate(134.000000, 1.000000)">
					|                     <g>
					|                         <path d="M15.2380549,0 C15.6588369,0 16,0.341131143 16,0.761914116 L16,6.85716156 C16,7.27794454 15.6588696,7.61907568 15.2380876,7.61907568 C14.8173056,7.61907568 14.4761753,7.27794454 14.4761753,6.85716156 L14.4761753,2.60130502 L6.63397467,10.4434909 C6.48521302,10.5923184 6.29019253,10.6666667 6.09520477,10.6666667 C5.90021702,10.6666667 5.70522926,10.5922857 5.55650035,10.4435237 C5.25894433,10.145967 5.25894433,9.66360361 5.55650035,9.36604689 L13.3986682,1.52382823 L9.14282148,1.52382823 C8.72203948,1.52382823 8.38090912,1.18269709 8.38090912,0.761914116 C8.38090912,0.341131143 8.72203948,0 9.14282148,0 L15.2380549,0 Z M12.5925537,7.1111005 C13.0016471,7.1111005 13.3333333,7.44275567 13.3333333,7.85185008 L13.3333333,15.2592504 C13.3333333,15.6683448 13.001679,16 12.5925855,16 L0.740747814,16 C0.331654373,16 0,15.6683448 0,15.2592822 L0,3.40741625 C0,2.99832183 0.331654373,2.66666667 0.740747814,2.66666667 L8.14813047,2.66666667 C8.55722391,2.66666667 8.88887828,2.99829 8.88887828,3.40738442 C8.88887828,3.81647884 8.55722391,4.148134 8.14813047,4.148134 L1.4814638,4.148134 L1.4814638,14.5185327 L11.8518059,14.5185327 L11.8518059,7.85185008 C11.8518059,7.44275567 12.1834603,7.1111005 12.5925537,7.1111005 Z"></path>
					|                     </g>
					|                 </g>
					|             </g>
					|         </g>
					|     </g>
					| </svg>