mixin footer
	footer.main-footer
		.template-wrapper.template-wrapper_footer
			.footer-col.footer-col_footer-phone
				.call-text Остались вопросы? Звоните:
				a(href="tel:88005117825").footer-phone 8 800 511-78-25
				.footer-operating-mode В будни с 9:00 до 18:00 (МСК +5)
			.footer-col.footer-col_information
				.actual-address Фактический адрес: г. Иркутск, ул. Терешковой, д. 15Б
				.inn
					| ИНН: 381115999541<br>
					| ОГРНИП: 318385000008444
				a(href="#" target="_blank").public-offer.content-link
					| Публичная оферта<br>
					| Соглашение об использовании сайта<br>
					| Мегамир