mixin grey-block_our-team-content
	.template-wrapper.section-wrapper.template-wrapper_grey-block.full-height
		.grey-block__col.grey-block__col_our-team
			h2.main-h2 Самая <span class="red-text">эмэйзинг</span> команда
			.grey-block__text
				| Angular, CSS,  HTML, JS, jQuery, Node.js,&nbsp;React, Vue,
				| WebGL
				.competencies
					.competencies__item.competencies__item_1
						| <svg width="37px" height="40px" viewBox="0 0 37 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						|     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						|         <g transform="translate(-100.000000, -7504.000000)">
						|             <g transform="translate(0.000000, 6904.000000)">
						|                 <g transform="translate(100.000000, 600.000000)">
						|                     <g>
						|                         <g>
						|                             <path d="M18.5,-1.0658141e-14 L37,6.67408856 L34.0336369,31.3124516 L18.5,40 L2.96636307,31.3124516 L2.48689958e-14,6.67408856 L18.5,-1.0658141e-14 Z M15.5791189,19.9618353 L18.5,12.6947447 L21.4208811,19.9618353 L15.5791189,19.9618353 Z M22.6786172,23.0785756 L24.7991335,28.3333333 L28.5909091,28.3333333 L18.5,5 L8.40909091,28.3333333 L12.2008665,28.3333333 L14.3213828,23.0785756 L22.6786172,23.0785756 Z" fill="#1D1D1D"></path>
						|                             <g transform="translate(8.409091, 5.000000)"></g>
						|                         </g>
						|                     </g>
						|                 </g>
						|             </g>
						|         </g>
						|     </g>
						| </svg>
					.competencies__item.competencies__item_2
						| <svg width="45px" height="40px" viewBox="0 0 45 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						|     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						|         <g transform="translate(-225.000000, -7504.000000)" fill="#1D1D1D">
						|             <g transform="translate(0.000000, 6904.000000)">
						|                 <g transform="translate(100.000000, 600.000000)">
						|                     <g transform="translate(125.000000, 0.000000)">
						|                         <g>
						|                             <g>
						|                                 <path d="M37.5,-7.4721399e-15 L45,-1.0658141e-14 L22.5,40 L-2.0212862e-14,-3.55271368e-15 L7.5,-3.55271368e-15 L22.5,25 L37.5,-7.10542736e-15 Z M28.2734821,-2.62900812e-13 L36.0714286,-2.62900812e-13 L22.5,22.8571429 L8.92857143,-2.59348099e-13 L16.7265179,-2.59348099e-13 L22.5,9.62258602 L28.2734821,-2.62900812e-13 Z"></path>
						|                             </g>
						|                         </g>
						|                     </g>
						|                 </g>
						|             </g>
						|         </g>
						|     </g>
						| </svg>
					.competencies__item.competencies__item_3
						| <svg width="40px" height="40px" viewBox="0 0 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						|     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						|         <g transform="translate(-233.000000, -7608.000000)" fill="#1D1D1D" fill-rule="nonzero">
						|             <g transform="translate(233.000000, 7608.000000)">
						|                 <path d="M0,48 L0,0 L48,0 L48,48 L0,48 Z M31.8004588,36.3679375 L28.4413906,38.5795 C29.696078,41.0246875 31.9500154,43 35.9192218,43 C39.9771033,43 43,40.9196875 43,37.1239375 C43,33.6011875 40.9512066,32.0340625 37.3181718,30.49975 L36.2500993,30.04825 C34.417038,29.2646875 33.622932,28.7528125 33.622932,27.4875625 C33.622932,26.4638125 34.4157145,25.68025 35.6677549,25.68025 C36.8946486,25.68025 37.6861076,26.1908125 38.4180086,27.4875625 L41.7453126,25.378375 C40.337098,22.9345 38.3849208,22.0013125 35.6677549,22.0013125 C31.8520757,22.0013125 29.4101999,24.4084375 29.4101999,27.5715625 C29.4101999,31.00375 31.4603168,32.628625 34.5427714,33.925375 L35.610844,34.376875 C37.5590506,35.2181875 38.5199188,35.731375 38.5199188,37.1764375 C38.5199188,38.3839375 37.5908148,39.25675 35.8199585,39.25675 C33.7116072,39.25675 32.7163277,37.8431875 31.8004588,36.3679375 Z M16.4662726,36.4755625 L13,38.5795 C14.0032205,40.708375 16.464949,43 19.8756342,43 C23.6502846,43 26.2350995,40.98925 26.2350995,36.5700625 L26.2350995,22 L21.8238408,22 L21.8238408,35.8980625 C21.8238408,38.030875 21.0178233,38.5795 19.6175497,38.5795 C18.1537477,38.5795 17.1359686,37.6646875 16.4662726,36.4755625 Z"></path>
						|             </g>
						|         </g>
						|     </g>
						| </svg>
					.competencies__item.competencies__item_4
						| <svg width="35px" height="40px" viewBox="0 0 35 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						|     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						|         <g transform="translate(-363.000000, -7504.000000)" fill="#1D1D1D">
						|             <g transform="translate(0.000000, 6904.000000)">
						|                 <g transform="translate(100.000000, 600.000000)">
						|                     <g transform="translate(263.000000, 0.000000)">
						|                         <path d="M17.5,0 C16.9679227,0 16.4506178,0.111538108 15.9929725,0.374124614 L1.50702947,8.85425763 C0.569596848,9.40137643 0,10.4355541 0,11.5354788 L0,28.4646195 C0,29.5639464 0.569596848,30.5969245 1.50702947,31.1457424 L5.28998266,33.3593569 C7.12794328,34.2776034 7.80580198,34.263437 8.64235601,34.263437 C11.3636222,34.263437 12.9173993,32.5896575 12.9173993,29.6804714 L12.9173993,12.9696205 C12.9173993,12.7333729 12.7156422,12.5642684 12.4868195,12.5642684 L10.6722347,12.5642684 C10.4397184,12.5642684 10.2416509,12.7333729 10.2416509,12.9696205 L10.2416509,29.6804714 C10.2416509,30.9699519 8.91669644,32.2667161 6.76625699,31.176966 L2.82952805,28.8387442 C2.69051105,28.761926 2.58347909,28.6263419 2.58347909,28.4646195 L2.58347909,11.5354788 C2.58347909,11.3747554 2.68928115,11.2115385 2.82952805,11.1302289 L17.284712,2.68122116 C17.4200354,2.60240509 17.5811944,2.60240509 17.7152919,2.68122116 L32.1704758,11.1302289 C32.3082629,11.2140319 32.4165209,11.3698667 32.4165209,11.5354788 L32.4165209,28.4646195 C32.4165209,28.6263419 32.3365079,28.791954 32.201231,28.8698734 L17.7152919,37.3188811 C17.5910375,37.3937052 17.4200354,37.3937052 17.284712,37.3188811 L13.5632691,35.0741373 C13.4525475,35.0082921 13.3012315,35.0132791 13.1941996,35.0741373 C12.1669613,35.6644555 11.9738134,35.7330932 11.0105452,36.0718017 C10.7731133,36.1556047 10.412653,36.2860012 11.1335697,36.6953414 L15.9929725,39.5947501 C16.4555374,39.866111 16.9710033,40 17.5,40 C18.03638,40 18.5444665,39.866111 19.0070314,39.5947501 L33.4929705,31.1457424 C34.430407,30.5930349 35,29.5639464 35,28.4646195 L35,11.5354788 C35,10.4355541 34.430407,9.40367327 33.4929705,8.85425763 L19.0070314,0.374124614 C18.5530758,0.111538108 18.0320812,0 17.5,0 L17.5,0 Z M21.3752206,12.0968624 C17.2502633,12.0968624 14.7934984,13.8763947 14.7934984,16.835761 C14.7934984,20.0461432 17.231811,20.9281752 21.1906858,21.3252446 C25.927068,21.7952464 26.2961337,22.5001939 26.2961337,23.4452788 C26.2961337,25.084539 25.0068539,25.7835006 21.9595801,25.7835006 C18.1311091,25.7835006 17.2896316,24.8146726 17.0079079,22.8840958 C16.9747357,22.6770778 16.8172237,22.5099712 16.6080871,22.5099712 L14.7319881,22.5099712 C14.5007056,22.5099712 14.3014082,22.7115972 14.3014082,22.9464486 C14.3014082,25.4176588 15.6275926,28.3401145 21.9595801,28.3401145 C26.5434125,28.3401145 29.187172,26.5161872 29.187172,23.3205732 C29.187172,20.1525921 27.0514952,19.3022831 22.6054498,18.7063802 C18.1126529,18.1037912 17.6845367,17.8088838 17.6845367,16.742283 C17.6845367,15.8618438 18.0474529,14.6845032 21.3752206,14.6845032 C24.3474514,14.6845032 25.4460469,15.3342795 25.896309,17.3658227 C25.9356773,17.5567747 26.1017598,17.7087158 26.2961337,17.7087158 L28.1722327,17.7087158 C28.2878739,17.7087158 28.3998255,17.6368847 28.479792,17.5527827 C28.5585247,17.4629938 28.6138855,17.3618307 28.6028126,17.2411132 C28.3124796,13.7424073 26.0107203,12.0968624 21.3752206,12.0968624 L21.3752206,12.0968624 Z"></path>
						|                     </g>
						|                 </g>
						|             </g>
						|         </g>
						|     </g>
						| </svg>
					.competencies__item.competencies__item_5
						| <svg width="28px" height="40px" viewBox="0 0 34 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						|     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						|         <g transform="translate(-306.000000, -7608.000000)" fill-rule="nonzero">
						|             <g transform="translate(306.000000, 7608.000000)">
						|                 <g>
						|                     <path d="M3.1242349,44.1446857 L0.0357114094,9.44525714 L33.9729597,9.44525714 L30.8812416,44.1390857 L16.9835705,47.9984 L3.1242349,44.1446857 Z M3.19326174,0.0154285714 L5.35237584,0.0154285714 L5.35237584,2.15211429 L7.32745638,2.15211429 L7.32745638,0.0154285714 L9.48668456,0.0154285714 L9.48668456,6.48605714 L7.32757047,6.48605714 L7.32757047,4.31942857 L5.35260403,4.31942857 L5.35260403,6.48605714 L3.19326174,6.48605714 L3.19326174,0.0154285714 Z M12.3257987,2.16114286 L10.4249933,2.16114286 L10.4249933,0.0154285714 L16.3866309,0.0154285714 L16.3866309,2.16114286 L14.4850268,2.16114286 L14.4850268,6.48605714 L12.3259128,6.48605714 L12.3259128,2.16114286 L12.3257987,2.16114286 Z M17.3328121,0.0154285714 L19.5842282,0.0154285714 L20.9689866,2.28902857 L22.352604,0.0154285714 L24.6047047,0.0154285714 L24.6047047,6.48605714 L22.4544899,6.48605714 L22.4544899,3.27885714 L20.9688725,5.57942857 L20.9317919,5.57942857 L19.4453758,3.27885714 L19.4453758,6.48605714 L17.332698,6.48605714 L17.332698,0.0154285714 L17.3328121,0.0154285714 Z M25.6792416,0.0154285714 L27.8389262,0.0154285714 L27.8389262,4.3472 L30.8751946,4.3472 L30.8751946,6.48594286 L25.6791275,6.48594286 L25.6791275,0.0154285714 L25.6792416,0.0154285714 Z" fill="#1D1D1D"></path>
						|                     <path d="M17.0043356,25.152 L25.7205436,25.152 L26.8653624,25.152 L26.7617651,26.2947429 L25.7633289,37.4987429 L25.6995503,38.2176 L16.9896174,40.6356571 L16.9896174,36.208 L21.7281678,34.9268571 L22.2212819,29.4075429 L17.0043356,29.4075429 L7.49677181,29.4075429 L6.45258389,17.68 L6.35081208,16.5381714 L16.9896174,16.5381714 L17.0043356,16.5381714 L27.6324161,16.5381714 L27.5307584,17.68 L27.337255,19.8374857 L27.2520268,20.7940571 L27.2383356,20.7940571 L17.0043356,20.7940571 L10.9939799,20.7940571 L11.3823557,25.152 L17.0043356,25.152 Z" fill="#FAFAFA"></path>
						|                     <polygon fill="#FAFAFA" points="17.0043356 36.2043429 16.9857383 36.2096 12.2540336 34.9297143 11.9514564 31.5356571 9.65234899 31.5356571 7.68662416 31.5356571 8.28185235 38.2176 16.9847114 40.6377143 17.0043356 40.6322286"></polygon>
						|                 </g>
						|             </g>
						|         </g>
						|     </g>
						| </svg>
					.competencies__item.competencies__item_6
						| <svg width="45px" height="40px" viewBox="0 0 45 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						|     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						|         <g transform="translate(-422.000000, -7504.000000)" fill="#1D1D1D" fill-rule="nonzero">
						|             <g transform="translate(0.000000, 6904.000000)">
						|                 <g transform="translate(100.000000, 600.000000)">
						|                     <g transform="translate(322.000000, 0.000000)">
						|                         <g>
						|                             <g>
						|                                 <path d="M45,20.0045777 C45,22.9709316 41.285161,25.7907988 35.598247,27.5394827 C36.9282511,33.3440146 36.3503873,37.9674983 33.7729311,39.4506752 C33.1675499,39.7985809 32.4704444,39.9633783 31.6999592,39.9633783 C29.1775377,39.9633783 25.8754586,38.1872282 22.5366898,35.0926986 C19.1979209,38.205539 15.8958418,40 13.3734203,40 C12.6029352,40 11.9058296,39.8352026 11.3096209,39.4872969 C8.72299225,38.0041199 8.13595597,33.3714809 9.45678761,27.5486381 C3.73318386,25.7999542 -2.13162821e-14,22.980087 -2.13162821e-14,20.0045777 C-2.13162821e-14,17.0382238 3.71483897,14.227512 9.42009784,12.4696727 C8.09009376,6.66514076 8.6679576,2.04165713 11.2454138,0.558480201 C11.8507949,0.210574502 12.5479005,0.0457770657 13.3183857,0.0457770657 L13.3183857,2.0874342 C12.8964533,2.0874342 12.5387281,2.1606775 12.2635548,2.32547494 C11.0252752,3.04875257 10.4932735,5.76791028 10.9243783,9.2652781 C11.0344476,10.1167315 11.1903791,11.0048066 11.4013453,11.9203479 C13.1991439,11.4717327 15.1620465,11.1329824 17.2350183,10.9132525 C18.4549531,9.21950103 19.739095,7.69054704 21.0232369,6.3447013 C18.0330208,3.58892195 15.2170811,2.07827878 13.3183857,2.07827878 L13.3183857,0.0366216526 C15.8408072,0.0366216526 19.1428863,1.8127718 22.4816551,4.90730144 C25.820424,1.79446098 29.1225031,2.84217094e-14 31.6449246,2.84217094e-14 L31.6449246,2.04165713 C29.7370567,2.04165713 26.9302894,3.56145571 23.9400734,6.33554589 C25.2333877,7.68139162 26.5175296,9.21950103 27.7558092,10.9132525 C29.8196086,11.1329824 31.7825112,11.4717327 33.5803098,11.9111925 C33.7821035,10.9864958 33.9472075,10.0801099 34.0481044,9.21950103 C34.4700367,5.72213321 33.9288626,3.00297551 32.6814105,2.28885328 C32.3970648,2.13321126 32.0576845,2.05081254 31.6357521,2.05081254 L31.6357521,0.00915541314 C32.3970648,0.00915541314 33.0941704,0.17395285 33.6903791,0.521858549 C36.2770077,2.00503548 36.864044,6.63767453 35.5432124,12.4605173 C41.2668161,14.2092012 45,17.0290684 45,20.0045777 Z M33.0574806,13.8979171 C31.8558907,13.6049439 30.5992662,13.3669032 29.2967795,13.1746395 C29.7462291,13.8704509 30.1956788,14.5845731 30.6176111,15.3170062 C31.0487159,16.0494392 31.4431309,16.7818723 31.819201,17.5143053 C32.296168,16.2966354 32.7181003,15.0789654 33.0574806,13.8979171 Z M28.8565022,23.6484321 C29.5444354,22.449073 30.1773339,21.2222477 30.7551977,19.9954223 C30.1773339,18.7685969 29.5444354,17.550927 28.8473298,16.3515679 C28.1318793,15.1247425 27.3889115,13.962005 26.6275989,12.8725109 C25.2700775,12.7626459 23.8850387,12.698558 22.5,12.698558 C21.1057888,12.698558 19.7207501,12.7626459 18.3540563,12.8816663 C17.5927436,13.9711604 16.8589482,15.1430533 16.1434978,16.3790341 C15.4555646,17.5783932 14.8134937,18.8052186 14.2448023,20.0320439 C14.8226661,21.2588693 15.4555646,22.4765393 16.1526702,23.6758984 C16.8681207,24.9027237 17.6110885,26.0654612 18.3724011,27.1549554 C19.7299225,27.2648203 21.1149613,27.3289082 22.5,27.3289082 C23.8942112,27.3289082 25.2792499,27.2648203 26.6459437,27.1458 C27.4072564,26.0563058 28.1410518,24.8844129 28.8565022,23.6484321 Z M31.819201,22.4582284 C31.4431309,23.1906615 31.0487159,23.9322499 30.6267835,24.664683 C30.2048512,25.4062715 29.7554015,26.1295491 29.3059519,26.8345159 C30.6176111,26.6422522 31.8834081,26.3950561 33.084998,26.1020829 C32.7364452,24.9118791 32.3145128,23.6850538 31.819201,22.4582284 Z M22.5183449,32.2270542 C23.3622095,31.3481346 24.2152466,30.3685054 25.0407664,29.297322 C24.2060742,29.3430991 23.3530371,29.3614099 22.4908276,29.3614099 C21.6377905,29.3614099 20.7939258,29.3339437 19.968406,29.297322 C20.8122707,30.3685054 21.6653078,31.3481346 22.5183449,32.2270542 Z M15.6940481,26.8345159 C15.2445985,26.1387045 14.8043212,25.4245823 14.3732165,24.6921492 C13.9421117,23.9597162 13.5476967,23.2272831 13.1716266,22.4948501 C12.6946596,23.71252 12.2727273,24.93019 11.9333469,26.1112383 C13.1349368,26.4042115 14.3915614,26.6422522 15.6940481,26.8345159 Z M22.4724827,7.78210117 C21.628618,8.66102083 20.7755809,9.64065003 19.9500611,10.7118334 C20.7847534,10.6660563 21.6377905,10.6477455 22.5,10.6477455 C23.3530371,10.6477455 24.1969018,10.6752117 25.0224215,10.7118334 C24.1785569,9.64065003 23.3255198,8.66102083 22.4724827,7.78210117 Z M15.6848757,13.1746395 C14.3732165,13.3669032 13.1074195,13.6140993 11.9058296,13.8979171 C12.2543824,15.0881209 12.6763147,16.3149462 13.1716266,17.5417716 C13.5476967,16.8093385 13.9421117,16.0769055 14.364044,15.3444724 C14.7859764,14.602884 15.235426,13.8796063 15.6848757,13.1746395 Z M7.38381574,24.6372168 C8.18181818,24.975967 9.04402772,25.2872511 9.95209947,25.5710689 C10.4657562,23.7857633 11.1445169,21.9272145 11.9883816,20.0228885 C11.1353445,18.1094072 10.4474113,16.2417029 9.92458214,14.4472419 C9.03485528,14.7310597 8.17264574,15.0331884 7.38381574,15.3719387 C4.1367713,16.7452506 2.0362821,18.5671778 2.0362821,20.0045777 C2.0362821,21.4419776 4.1367713,23.2547494 7.38381574,24.6372168 Z M12.3185895,37.7203021 C12.5937627,37.8759442 12.9423155,37.9583429 13.3550754,37.9674983 C15.2629433,37.9674983 18.0697106,36.4476997 21.0599266,33.6736095 C19.7666123,32.3277638 18.4824704,30.7896544 17.2441908,29.095903 C15.1803914,28.876173 13.2174888,28.5374228 11.4196902,28.0979629 C11.2178965,29.0226596 11.0527925,29.9290455 10.9518956,30.7896544 C10.5299633,34.2870222 11.0711374,37.0061799 12.3185895,37.7203021 Z M34.0756217,30.7438773 C33.9747248,29.8924239 33.8096209,29.0043488 33.5986547,28.0796521 C31.8008561,28.5282673 29.8379535,28.8670176 27.7649817,29.0867475 C26.5450469,30.780499 25.260905,32.309453 23.9767631,33.6552987 C26.9669792,36.411078 29.7829189,37.9217212 31.6816143,37.9217212 C32.1035467,37.9217212 32.4612719,37.8484779 32.7364452,37.6836805 C33.9747248,36.9604028 34.5067265,34.2412451 34.0756217,30.7438773 Z M37.6070118,24.6372168 C40.8540563,23.2639048 42.9545455,21.4419776 42.9637179,20.0045777 C42.9637179,18.5671778 40.8632287,16.754406 37.6161843,15.3719387 C36.8090094,15.0331884 35.9467998,14.7219043 35.0387281,14.4380865 C34.5250713,16.2233921 33.8463106,18.0819409 33.002446,19.9862669 C33.8554831,21.8997482 34.5434162,23.7674525 35.0662454,25.5619135 C35.9559723,25.2780957 36.8181818,24.975967 37.6070118,24.6372168 Z M22.5,24.3298969 C20.1988135,24.3298969 18.3333333,22.4836485 18.3333333,20.2061856 C18.3333333,17.9287227 20.1988135,16.0824742 22.5,16.0824742 C24.8011865,16.0824742 26.6666667,17.9287227 26.6666667,20.2061856 C26.6666667,22.4836485 24.8011865,24.3298969 22.5,24.3298969 Z"></path>
						|                             </g>
						|                         </g>
						|                     </g>
						|                 </g>
						|             </g>
						|         </g>
						|     </g>
						| </svg>
					.competencies__item.competencies__item_7
						| <svg width="28px" height="40px" viewBox="0 0 34 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						|     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						|         <g transform="translate(-353.000000, -7608.000000)" fill="#1D1D1D" fill-rule="nonzero">
						|             <g transform="translate(353.000000, 7608.000000)">
						|                 <path d="M26.6436779,1.77721041 L23.8217179,1.77721041 L26.7563826,4.96203641 L26.7563826,6.47802685 L20.7117095,6.47802685 L20.7117095,4.70310282 L23.6458027,4.70310282 L20.7117095,1.51816251 L20.7117095,-3.69482223e-13 L26.6436779,-3.69482223e-13 L26.6436779,1.77721041 Z M19.5135653,1.77721041 L16.6916053,1.77721041 L19.6261557,4.96203641 L19.6261557,6.47802685 L13.5814826,6.47802685 L13.5814826,4.70310282 L16.5159186,4.70310282 L13.5814826,1.51816251 L13.5814826,-3.69482223e-13 L19.5135653,-3.69482223e-13 L19.5135653,1.77721041 Z M12.4531787,1.849346 L9.40809548,1.849346 L9.40809548,4.62879517 L12.4531787,4.62879517 L12.4531787,6.47802685 L7.24384602,6.47802685 L7.24384602,-3.55271368e-13 L12.4531787,-3.55271368e-13 L12.4531787,1.849346 Z M3.09434863,44.1450333 L1.1738166e-11,9.43535711 L34,9.43535711 L30.9027937,44.1394316 L16.9791965,48 L3.09434863,44.1450333 Z M17.0256043,40.3327359 L25.7367827,37.918052 L25.8007934,37.1989826 L26.5271633,29.0827454 L27.5712624,17.3743867 L27.6733367,16.2322209 L17.0148596,16.2322209 L17.0001143,16.2322209 L6.35238191,16.2322209 L6.4541133,17.3743867 L6.64808875,19.5325096 L6.73347453,20.4893635 L6.74707682,20.4893635 L17.0001143,20.4893635 L23.0214692,20.4893635 L22.6324895,24.8485934 L17.0001143,24.8490507 L11.9385779,24.8490507 L12.0403093,25.9912165 L12.2343991,28.1493393 L12.3196705,29.1060789 L12.3332728,29.1060789 L17.0001143,29.1060789 L17.0001143,29.105393 L22.2545169,29.105393 L21.7581711,34.6263373 L17.010859,35.9078585 L17.010859,40.3368233 L17.0256043,40.3333937 L17.0059439,40.338881 L8.28699277,37.918052 L7.69077828,31.2341358 L9.66002353,31.2341358 L11.9633821,31.2341358 L12.2665187,34.6291953 L17.0069726,35.909459 L17.0256043,35.9042003 L17.0256043,40.3327359 Z M17.0001143,24.8490507 L17.0001143,29.0955615 L17.0001143,24.8490507 Z"></path>
						|             </g>
						|         </g>
						|     </g>
						| </svg>
					.competencies__item.competencies__item_8
						| <svg width="90px" height="40px" viewBox="0 0 108 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						|     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						|         <g transform="translate(-100.000000, -7608.000000)" fill="#1D1D1D" fill-rule="nonzero">
						|             <g transform="translate(100.000000, 7608.000000)">
						|                 <g transform="translate(54.000000, 24.000000) scale(-1, 1) rotate(-180.000000) translate(-54.000000, -24.000000) ">
						|                     <g>
						|                         <path d="M16.705729,32.7238532 L21.6728809,13.882596 L25.0877331,13.882596 L29.8964958,30.9130596 L34.6472807,13.882596 L38.0720083,13.882596 L43.9891459,35.565245 L40.1382918,35.565245 L36.2858449,18.9302252 L31.6340259,35.565245 L28.1016251,35.565245 L23.4602124,18.9300132 L19.6940877,35.1442303 C26.3559742,39.7244898 37.0071527,42.690649 49.0098569,42.690649 C60.2527793,42.690649 70.3334903,40.3319735 77.0369391,36.2381987 C69.7199446,43.0973245 56.6008126,47.9171391 41.6007987,47.9193653 C18.6273453,47.9231788 0.00199099723,37.1988344 0,23.9663046 C-0.00194952078,10.7341987 18.6200185,0.00339404503 41.5934718,-8.99319339e-07 C56.5339151,-0.00240066755 69.6189612,4.80173775 76.9548569,11.6129272 C70.2515143,7.54458278 60.2117913,5.22896954 49.0098569,5.22896954 C28.8279409,5.22896954 12.4671468,13.6149404 12.4671468,23.9598411 C12.4671468,27.1260955 13.9998609,30.1088669 16.705729,32.7238532 Z M84.7164543,14.2278146 C85.6675669,14.6277086 86.535217,15.330543 87.3184488,16.3354702 L87.7647507,14.074702 L90.5528901,14.074702 L90.5528901,24.8510728 L82.1738181,24.8510728 L82.1738181,21.5721325 L86.5931948,21.5721325 C86.4619483,20.1798146 86.0001431,19.1171391 85.2061865,18.384 C84.4124423,17.6510728 83.2883518,17.2845563 81.8323223,17.2845563 C80.842133,17.2845563 80.0016667,17.4757086 79.3112419,17.8580132 C78.6201801,18.2403179 78.05994,18.7479735 77.6308403,19.3818278 C77.2016343,20.0154702 76.8891274,20.7287947 76.6927886,21.5210596 C76.496662,22.3131126 76.3987581,23.1289007 76.3987581,23.9683179 C76.3987581,24.8445033 76.4960249,25.6923974 76.6922576,26.5127417 C76.887747,27.3331921 77.199723,28.0648477 77.6289289,28.7085563 C78.0580286,29.3515232 78.6176316,29.8645828 79.307313,30.2467815 C79.9972068,30.6290861 80.8362927,30.8202384 81.8249954,30.8202384 C82.8872853,30.8202384 83.7915697,30.5410331 84.5381671,29.9827285 C85.2839151,29.4244238 85.7875577,28.5870199 86.0488827,27.4711523 L90.2443121,27.4711523 C90.1322853,28.6059868 89.8243444,29.6110199 89.3207018,30.4872053 C88.8172715,31.362649 88.1786657,32.0996026 87.4046722,32.6974305 C86.6305725,33.2950464 85.7637719,33.7482384 84.8034211,34.0570066 C83.842964,34.3650331 82.8504386,34.5194172 81.8249954,34.5194172 C80.2951662,34.5194172 78.9202632,34.2486887 77.6992244,33.7081854 C76.4782918,33.1669404 75.4495568,32.421404 74.6122761,31.4704106 C73.7749954,30.5193113 73.1330979,29.405457 72.6870083,28.1285298 C72.2407064,26.8510728 72.0175023,25.4664901 72.0175023,23.9756291 C72.0175023,22.5213245 72.2414497,21.1642914 72.6890259,19.9058013 C73.1364958,18.6473113 73.7794552,17.5517881 74.6189658,16.6199735 C75.4580517,15.6870993 76.4881671,14.9555497 77.709843,14.4242649 C78.9314127,13.893298 80.306422,13.6272318 81.8362512,13.6272318 C82.805097,13.6272318 83.7654478,13.8276026 84.7164543,14.2278146 Z M97.6741828,34.0149404 L93.2931394,34.0149404 L93.2931394,14.0897483 L107.408726,14.0897483 L107.408726,17.7889272 L97.6741828,17.7889272 L97.6741828,34.0149404 Z M53.6146353,26.4389934 C53.0796676,27.1902517 52.4105863,27.7684768 51.6254432,28.1578808 C50.8181071,28.5584106 49.8820729,28.7613245 48.8435688,28.7613245 C47.6746676,28.7613245 46.6215097,28.5498278 45.7134026,28.1326623 C44.8522299,27.7369007 44.1171006,27.1551788 43.5284026,26.4033907 C42.4388227,25.0121325 41.862867,23.0517616 41.862867,20.7347285 C41.862867,19.7034172 42.0095106,18.7357881 42.2986565,17.8584371 C42.5895014,16.9764238 43.0188135,16.2021722 43.5746999,15.5576159 C44.7434949,14.2023841 46.4097738,13.4859868 48.3934441,13.4859868 C49.4350277,13.4859868 50.2854755,13.594702 50.9928901,13.8182781 C51.6112142,14.013457 52.0220499,14.2663841 52.3585549,14.4881589 C52.7922207,14.7736159 53.1905263,15.1245563 53.5428532,15.530702 C53.8418744,15.8756026 54.1081902,16.2608742 54.3345799,16.6756026 C54.7398938,17.4184901 54.9361265,18.1124238 54.9807248,18.4809536 L55.0103509,18.7246623 L52.1726223,18.7246623 L52.1570129,18.5239735 C52.0854432,17.6040265 50.8753416,15.9604768 48.7194367,15.9604768 C45.6374792,15.9604768 44.9031994,18.1837351 44.8544598,20.141457 L55.1724977,20.141457 L55.1724977,20.3589934 C55.1724977,21.6215099 55.0430563,22.7742517 54.7876777,23.7854305 C54.5265651,24.8198146 54.131976,25.7126358 53.6146353,26.4389934 Z M48.5175762,26.2064106 C50.8034534,26.2064106 52.025554,24.978649 52.248121,22.4548874 L44.8575392,22.4548874 C44.9658495,24.5099868 46.5978301,26.2064106 48.5175762,26.2064106 Z M69.4542659,24.3540132 C69.1794552,25.2300927 68.7743536,26.0020132 68.2507479,26.6485828 C67.70994,27.3160265 67.0540259,27.8351258 66.3013758,28.1914702 C65.5155956,28.5634967 64.6347784,28.752106 63.6835596,28.752106 L63.6800554,28.752106 C62.8024238,28.7379073 62.0010342,28.5469669 61.2986103,28.1843709 C60.7177701,27.8848212 60.1972438,27.4642649 59.7459511,26.930649 L59.7459511,33.5826225 L56.919903,33.5826225 L56.919903,13.8792053 L59.6102447,13.8792053 L59.6102447,15.2202384 C59.8464035,14.911894 60.1498846,14.586596 60.5519067,14.2991258 C61.3149631,13.7534305 62.2589612,13.4768742 63.3576731,13.4768742 C64.5394229,13.4768742 65.5928994,13.7398675 66.4893259,14.2588609 C67.2882733,14.7212715 67.9646814,15.3875497 68.4999677,16.2388344 C68.9672946,16.9820397 69.3229132,17.8573775 69.5565235,18.8406887 C69.7583841,19.690702 69.8652078,20.6208212 69.8652078,21.5303841 C69.8652078,22.5354172 69.7269529,23.485351 69.4542659,24.3540132 Z M66.9149215,21.154649 C66.9149215,19.6077351 66.6031579,18.3113113 66.0129732,17.405457 C65.3846676,16.4403709 64.472844,15.9512583 63.3033056,15.9512583 C61.6121791,15.9512583 59.6374284,17.1313377 59.6374284,20.4570066 C59.6374284,22.0499073 59.834723,23.2754437 60.2404617,24.2042914 C60.8263989,25.5453245 61.8106417,26.1971921 63.2490443,26.1971921 C64.779723,26.1971921 65.8034672,25.5985166 66.3786796,24.3670464 C66.8538643,23.349298 66.9149215,22.1157086 66.9149215,21.154649 Z"></path>
						|                     </g>
						|                 </g>
						|             </g>
						|         </g>
						|     </g>
		.grey-block__col.grey-block__col_our-team
			article.team-list
				.team-list__row
					figure.team-list__item.team-list__item_1
						picture.team-member.king-member
							source(srcset="images/team1_1x.webp 1x, images/team1_2x.webp 2x" type="image/webp")
							img(src="images/team1_1x.jpg" srcset="images/team1_1x.jpg 1x, images/team1_2x.jpg 2x" alt="Егор Ерёмин")
						figcaption
							.team-member-name <span class="br_our-team">Егор</span> Ерёмин
							.team-member-position <span class="br_our-team">frontend</span> разработчик
					figure.team-list__item.team-list__item_2
						picture.team-member.king-member
							source(srcset="images/team2_1x.webp 1x, images/team2_2x.webp 2x" type="image/webp")
							img(src="images/team2_1x.jpg" srcset="images/team2_1x.jpg 1x, images/team2_2x.jpg 2x" alt="Антон Прокопьев")
						figcaption
							.team-member-name <span class="br_our-team">Антон</span> Прокопьев
							.team-member-position <span class="br_our-team">javascript</span> разработчик
					figure.team-list__item.team-list__item_3
						picture.team-member.king-member
							source(srcset="images/team7_1x.webp 1x, images/team7_2x.webp 2x" type="image/webp")
							img(src="images/team7_1x.jpg" srcset="images/team7_1x.jpg 1x, images/team7_2x.jpg 2x" alt="Иван Чупин")
						figcaption
							.team-member-name <span class="br_our-team">Иван</span> Чупин
							.team-member-position <span class="br_our-team">UX/UI</span> дизайнер
				.team-list__row
					figure.team-list__item.team-list__item_4
						picture.team-member
							source(srcset="images/team3_1x.webp 1x, images/team3_2x.webp 2x" type="image/webp")
							img(src="images/team3_1x.jpg" srcset="images/team3_1x.jpg 1x, images/team3_2x.jpg 2x" alt="Юлия Цицеронова")
						figcaption
							.team-member-name <span class="br_our-team">Юлия</span> Цицеронова
							.team-member-position <span class="br_our-team">react</span> разработчик
					figure.team-list__item.team-list__item_5
						picture.team-member
							source(srcset="images/team5_1x.webp 1x, images/team5_2x.webp 2x" type="image/webp")
							img(src="images/team5_1x.jpg" srcset="images/team5_1x.jpg 1x, images/team5_2x.jpg 2x" alt="Мария Шабалина")
						figcaption
							.team-member-name <span class="br_our-team">Мария</span> Шабалина
							.team-member-position <span class="br_our-team">frontend</span> разработчик
					figure.team-list__item.team-list__item_6
						picture.team-member
							source(srcset="images/team6_1x.webp 1x, images/team6_2x.webp 2x" type="image/webp")
							img(src="images/team6_1x.jpg" srcset="images/team6_1x.jpg 1x, images/team6_2x.jpg 2x" alt="Александр Гузяев")
						figcaption
							.team-member-name <span class="br_our-team">Александр</span> Гузяев
							.team-member-position <span class="br_our-team">frontend</span> разработчик
mixin grey-block_our-team(class_modification)
	if class_modification === undefined
		section(class= 'grey-block')
			+grey-block_our-team-content
	else
		section(class= 'grey-block ' + class_modification)
			+grey-block_our-team-content