mixin header-content
		.progress-bar-wrapper
			.progress-bar-value
		.template-wrapper.template-wrapper_header
			.header-logo
				| <svg class="header-svg-logo" width="118px" height="40px" viewBox="0 0 118 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				|     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
				|         <g transform="translate(-100.000000, -32.000000)" fill="#0066FF">
				|             <g transform="translate(0.000000, 30.000000)">
				|                 <g transform="translate(100.000000, 0.000000)">
				|                     <g transform="translate(0.000000, 2.000000)">
				|                         <g>
				|                             <path d="M15.2360386,20.0508711 C15.3455856,18.009157 14.9622572,15.9709604 14.1176394,14.1042266 C13.2529888,12.8375428 11.7369403,12.1630521 10.2032421,12.3627093 C9.45226783,12.367126 8.70231904,12.4181981 7.95784059,12.5156231 L6.23722641,12.761984 L6.23722641,34 L0,34 L0,8.51438084 C1.53982323,8.10492947 3.10249366,7.78440043 4.68007057,7.55442252 C6.70113158,7.24733837 8.74341783,7.09679745 10.7882509,7.10417659 C12.3261275,7.05497272 13.8593076,7.29720587 15.3048631,7.81777392 C16.3861755,8.20309014 17.3800888,8.79484774 18.2299072,9.55929123 C18.687339,9.2421247 19.1675079,8.95820339 19.6666201,8.70977059 C20.291528,8.38344385 20.9382609,8.09961084 21.602311,7.86024995 C22.3472575,7.60313086 23.1089256,7.39594353 23.8821248,7.24009989 C24.6825708,7.0748206 25.4991386,6.99789161 26.3167939,7.01072931 C28.0783532,6.93892023 29.8358817,7.22816903 31.4786364,7.86024995 C32.7416465,8.38537469 33.8339637,9.24356973 34.6359635,10.3408502 C35.4439278,11.4876192 35.9872258,12.7954855 36.2275316,14.1721883 C36.5282654,15.7947361 36.6751532,17.4414365 36.6662882,19.0909128 L36.6662882,33.9320383 L30.4634741,33.9320383 L30.4634741,19.9829095 C30.5956451,17.9490267 30.245085,15.912763 29.4397086,14.036265 C28.6008216,12.7215701 27.0707313,12.0008315 25.5081052,12.18431 C24.5499673,12.1770505 23.5979143,12.3351741 22.694901,12.6515464 C21.9972784,12.8877533 21.3302493,13.2042551 20.7075917,13.5945143 C20.9835874,14.4630458 21.1709196,15.3566582 21.2667913,16.2620091 C21.3770033,17.269258 21.4315702,18.2816873 21.4302496,19.2947977 L21.4302496,33.8555815 L15.2360386,33.8555815 L15.2360386,20.0508711 Z M53.5323742,20.0755555 C53.6685697,18.0360203 53.3099923,15.9938457 52.4862513,14.1176635 C51.6474572,12.8140177 50.1279832,12.0941564 48.5697749,12.2622058 C47.8148789,12.2688833 47.0611816,12.3228974 46.3132621,12.42392 L44.5409052,12.6622357 L44.5409052,33.9829775 L38.3333333,33.9829775 L38.3333333,8.44915494 C39.8807764,8.03892913 41.4511797,7.71779385 43.0365633,7.48738096 C45.0647215,7.17970895 47.1142415,7.02888195 49.1663243,7.03628343 C50.7145804,6.98778584 52.2580253,7.23043676 53.7139327,7.75123046 C54.8120708,8.15618524 55.8172422,8.77248341 56.6707427,9.56413186 C57.1286809,9.24826496 57.608212,8.96388047 58.1059194,8.71300444 C58.6795783,8.39039306 59.2745826,8.10604505 59.886922,7.86187703 C60.633345,7.60431837 61.3957128,7.39394557 62.1693718,7.23204274 C62.9718875,7.07402104 63.7891068,7 64.6074432,7.01074961 C66.3777195,6.93880471 68.1439452,7.22860059 69.7948291,7.86187703 C71.0673417,8.41147101 72.1619656,9.29475911 72.9591345,10.4152593 C73.764845,11.5666336 74.3075632,12.8762086 74.5499329,14.2538439 C74.8592494,15.8786245 75.0097945,17.5288336 74.9995064,19.1818717 L74.9995064,34 L68.7659976,34 L68.7659976,20.0244878 C68.8988226,17.9867582 68.5465278,15.9466431 67.737166,14.0665959 C66.8970439,12.7211887 65.3341307,11.9851809 63.7428788,12.1856043 C62.7828145,12.1782734 61.8288791,12.3367121 60.9243991,12.6537244 C60.2198711,12.8886395 59.5464746,13.2058176 58.9186099,13.5984758 C59.1959714,14.4686501 59.3842306,15.3639527 59.4805767,16.2710159 C59.5913341,17.2801699 59.6461711,18.2945142 59.6448439,19.3095408 L59.6448439,33.9233985 L53.4545634,33.9233985 L53.5323742,20.0755555 Z"></path>
				|                             <g transform="translate(78.000000, 0.000000)" fill-rule="nonzero">
				|                                 <path d="M30.703489,3.24160385 L30.6795488,3.24160385 C36.750005,7.04837913 40.3039897,13.8377538 39.9795433,21.0079 C39.6550968,28.1780462 35.5025329,34.6170484 29.1131992,37.8573486 C22.7238655,41.0976488 15.0885928,40.6367552 9.13337419,36.6512916 L14.5498431,31.2519885 L14.5498431,9.90074434 C14.4680945,9.42398658 14.7126365,8.95090244 15.148348,8.74289378 C16.0745563,8.18357008 16.4694668,7.04053889 16.0867295,6.02683716 C15.7039921,5.01313544 14.6530388,4.41859982 13.5894671,4.61410896 C12.5258954,4.80961809 11.7538008,5.73927219 11.7548254,6.82314157 C11.7552936,7.60756154 12.1665794,8.33414136 12.8381192,8.73689456 C13.3123871,8.94717913 13.6193428,9.41692384 13.6221606,9.93673969 L13.6221606,30.8260434 L8.34334779,36.105362 C-0.463198036,29.8254234 -2.63768746,17.6366913 3.45180903,8.68666998 C9.54130552,-0.263351304 21.655794,-2.68390632 30.703489,3.24160385 Z M12.6765229,12.6003959 L11.7308852,12.6003959 L11.7308852,28.9782819 L12.6765229,28.9782819 L12.6765229,12.6003959 Z M16.4471035,28.9782819 L16.4471035,12.6003959 L15.5014658,12.6003959 L15.5014658,28.9782819 L16.4471035,28.9782819 Z M28.5069762,29.0202765 C29.0162581,28.8698156 29.5142641,28.6833727 29.9972533,28.4623485 L29.4346588,26.002666 L28.3154547,26.4346103 C27.6294212,26.6546183 26.9106027,26.7540705 26.1907625,26.7285723 C25.7407779,26.7385239 25.2921335,26.675727 24.8620817,26.5425963 C24.4921199,26.4115389 24.1664676,26.1786761 23.9224291,25.8706831 C23.6499982,25.5165537 23.4579949,25.1070684 23.3598345,24.6708379 C23.2234465,24.0038711 23.1612212,23.3238073 23.174298,22.6430996 L23.174298,15.0540792 L29.3149578,15.0540792 L29.3149578,12.6123943 L23.174298,12.6123943 L23.174298,7.52505097 L20.2535943,8.02898593 L20.2535943,22.7090911 C20.2414101,23.6758179 20.3316922,24.6411079 20.5229215,25.5887194 C20.6711045,26.3487647 20.9904403,27.0648686 21.4565891,27.6824492 C21.9216088,28.2291434 22.5224145,28.6430465 23.1982382,28.8822943 C24.0821474,29.1927253 25.0150951,29.3390978 25.9513605,29.3142386 C26.8030887,29.3256144 27.6519204,29.2124382 28.4710659,28.9782819 L28.5069762,29.0202765 Z M13.9812635,8.07697974 C13.3003406,8.07697974 12.7483435,7.5236751 12.7483435,6.84113925 C12.7483435,6.1586034 13.3003406,5.60529876 13.9812635,5.60529876 C14.6621864,5.60529876 15.2141835,6.1586034 15.2141835,6.84113925 C15.2141835,7.5236751 14.6621864,8.07697974 13.9812635,8.07697974 Z"></path>
				|                             </g>
				|                         </g>
				|                     </g>
				|                 </g>
				|             </g>
				|         </g>
				|     </g>
				| </svg>
				.header-logo__text
					| <span class="br">Адаптивная вёрстка</span>
					| по вашим макетам
			.header-information
				a(href="tel:88005117825").header-information__phone 8 800 511-78-25
				.header-information__working-hours В будни с 9:00 до 18:00 (МСК +5)
			nav.main-menu
				ul.main-menu__list
					li.main-menu__list-item.active
						a(href="#") Проекты
					li.main-menu__list-item
						a(href="#") Услуги
					li.main-menu__list-item
						a(href="#") Компания
					li.main-menu__list-item
						a(href="#") Контакты
			button.burger-navigation
				.burger-navigation__item
				.burger-navigation__item
mixin header(class_modification)
	if class_modification === undefined
		header(class= 'main-header')
			+header-content
	else
		header(class= 'main-header ' + class_modification)
			+header-content