mixin projects-content
	.template-wrapper.section-wrapper
		.main-h2.main-h2_center Наши проекты
		.prev-text.prev-text_by-projects
			| <span class="br">Интернет-магазины, одностраничные сайты,</span> сервисы и&nbsp;мобильные приложения
		.projects-wrapper
			.projects-item
				.projects-slider-col
						.projects-slider.owl-carousel
							.projects-slider__item
								.projects-slider-wrapper
									.slider-content-wrapper
										.projects-slider__header
											.projects-slider__header-dots
											.projects-slider__header-dots
											.projects-slider__header-dots
										.projects-slider-container
											|1
									.slider-content-wrapper-mobile
										| <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="300" height="508" viewBox="0 0 300 508">
										|     <defs>
										|         <rect id="b" width="200" height="408" rx="24"/>
										|         <filter id="a" width="175%" height="136.8%" x="-37.5%" y="-18.4%" filterUnits="objectBoundingBox">
										|             <feOffset in="SourceAlpha" result="shadowOffsetOuter1"/>
										|             <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="25"/>
										|             <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0.323977461 0 0 0 0 0.381127872 0 0 0 0 0.466853487 0 0 0 0.15 0"/>
										|         </filter>
										|     </defs>
										|     <g fill="none" fill-rule="evenodd" transform="translate(50 50)">
										|         <use fill="#000" filter="url(#a)" xlink:href="#b"/>
										|         <use fill="#1D1D1D" xlink:href="#b"/>
										|         <rect width="184" height="336" x="8" y="36" fill="#FFF" rx="4"/>
										|     </g>
										| </svg>
							.projects-slider__item
								.projects-slider-wrapper
									.slider-content-wrapper
										.projects-slider__header
											.projects-slider__header-dots
											.projects-slider__header-dots
											.projects-slider__header-dots
										.projects-slider-container
											| 2
									.slider-content-wrapper-mobile
										| <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="300" height="508" viewBox="0 0 300 508">
										|     <defs>
										|         <rect id="b" width="200" height="408" rx="24"/>
										|         <filter id="a" width="175%" height="136.8%" x="-37.5%" y="-18.4%" filterUnits="objectBoundingBox">
										|             <feOffset in="SourceAlpha" result="shadowOffsetOuter1"/>
										|             <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="25"/>
										|             <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0.323977461 0 0 0 0 0.381127872 0 0 0 0 0.466853487 0 0 0 0.15 0"/>
										|         </filter>
										|     </defs>
										|     <g fill="none" fill-rule="evenodd" transform="translate(50 50)">
										|         <use fill="#000" filter="url(#a)" xlink:href="#b"/>
										|         <use fill="#1D1D1D" xlink:href="#b"/>
										|         <rect width="184" height="336" x="8" y="36" fill="#FFF" rx="4"/>
										|     </g>
										| </svg>
						.projects-quantity
							span.number-items
				.projects-description-col
					a(href="//flyboots.ru/" target="_blank").projects-description-link Flyboots
					.detail-project
						.description-title Детали проекта
						.description-text
							p Макеты — 52 шт
							p Трудозатраты — 150 часов
							p Длительность — 35 дней
					.detail-project
						.description-title Участники
						ul.member-list
							li.member-list__item
								picture.member-photo
									img(src="images/member-eremin_1x.jpg" alt="Егор" srcset="images/member-eremin_1x.jpg 1x, images/member-eremin_2x.jpg 2x")
								.member-description
									.member-name Егор Ерёмин
									.member-position frontend разработчик
							li.member-list__item
								picture.member-photo
									img(src="images/member-anton_1x.jpg" alt="Антон" srcset="images/member-anton_1x.jpg 1x, images/member-anton_2x.jpg 2x")
								.member-description
									.member-name Антон Прокопьев
									.member-position javascript разработчик
							li.member-list__item
								picture.member-photo
									img(src="images/member-chupin_1x.jpg" alt="Иван" srcset="images/member-chupin_1x.jpg 1x, images/member-chupin_2x.jpg 2x")
								.member-description
									.member-name Иван Чупин
									.member-position ux/ui дизайнер
			.projects-item
				.projects-slider-col
					.projects-slider.owl-carousel
						.projects-slider__item
							.projects-slider-wrapper
								.slider-content-wrapper
									.projects-slider__header
										.projects-slider__header-dots
										.projects-slider__header-dots
										.projects-slider__header-dots
									.projects-slider-container
										| 1
								.slider-content-wrapper-mobile
									| <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="300" height="508" viewBox="0 0 300 508">
									|     <defs>
									|         <rect id="b" width="200" height="408" rx="24"/>
									|         <filter id="a" width="175%" height="136.8%" x="-37.5%" y="-18.4%" filterUnits="objectBoundingBox">
									|             <feOffset in="SourceAlpha" result="shadowOffsetOuter1"/>
									|             <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="25"/>
									|             <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0.323977461 0 0 0 0 0.381127872 0 0 0 0 0.466853487 0 0 0 0.15 0"/>
									|         </filter>
									|     </defs>
									|     <g fill="none" fill-rule="evenodd" transform="translate(50 50)">
									|         <use fill="#000" filter="url(#a)" xlink:href="#b"/>
									|         <use fill="#1D1D1D" xlink:href="#b"/>
									|         <rect width="184" height="336" x="8" y="36" fill="#FFF" rx="4"/>
									|     </g>
									| </svg>
						.projects-slider__item
							.projects-slider-wrapper
								.slider-content-wrapper
									.projects-slider__header
										.projects-slider__header-dots
										.projects-slider__header-dots
										.projects-slider__header-dots
									.projects-slider-container
										| 2
								.slider-content-wrapper-mobile
									| <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="300" height="508" viewBox="0 0 300 508">
									|     <defs>
									|         <rect id="b" width="200" height="408" rx="24"/>
									|         <filter id="a" width="175%" height="136.8%" x="-37.5%" y="-18.4%" filterUnits="objectBoundingBox">
									|             <feOffset in="SourceAlpha" result="shadowOffsetOuter1"/>
									|             <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="25"/>
									|             <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0.323977461 0 0 0 0 0.381127872 0 0 0 0 0.466853487 0 0 0 0.15 0"/>
									|         </filter>
									|     </defs>
									|     <g fill="none" fill-rule="evenodd" transform="translate(50 50)">
									|         <use fill="#000" filter="url(#a)" xlink:href="#b"/>
									|         <use fill="#1D1D1D" xlink:href="#b"/>
									|         <rect width="184" height="336" x="8" y="36" fill="#FFF" rx="4"/>
									|     </g>
									| </svg>
						.projects-slider__item
							.projects-slider-wrapper
								.slider-content-wrapper
									.projects-slider__header
										.projects-slider__header-dots
										.projects-slider__header-dots
										.projects-slider__header-dots
									.projects-slider-container
										| 3
								.slider-content-wrapper-mobile
									| <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="300" height="508" viewBox="0 0 300 508">
									|     <defs>
									|         <rect id="b" width="200" height="408" rx="24"/>
									|         <filter id="a" width="175%" height="136.8%" x="-37.5%" y="-18.4%" filterUnits="objectBoundingBox">
									|             <feOffset in="SourceAlpha" result="shadowOffsetOuter1"/>
									|             <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="25"/>
									|             <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0.323977461 0 0 0 0 0.381127872 0 0 0 0 0.466853487 0 0 0 0.15 0"/>
									|         </filter>
									|     </defs>
									|     <g fill="none" fill-rule="evenodd" transform="translate(50 50)">
									|         <use fill="#000" filter="url(#a)" xlink:href="#b"/>
									|         <use fill="#1D1D1D" xlink:href="#b"/>
									|         <rect width="184" height="336" x="8" y="36" fill="#FFF" rx="4"/>
									|     </g>
									| </svg>
					.projects-quantity
						span.number-items
				.projects-description-col
					a(href="//flyboots.ru/" target="_blank").projects-description-link Flyboots
					.detail-project
						.description-title Детали проекта
						.description-text
							p Макеты — 52 шт
							p Трудозатраты — 150 часов
							p Длительность — 35 дней
					.detail-project
						.description-title Участники
						ul.member-list
							li.member-list__item
								picture.member-photo
									img(src="images/member-eremin_1x.jpg" alt="Егор" srcset="images/member-eremin_1x.jpg 1x, images/member-eremin_2x.jpg 2x")
								.member-description
									.member-name Егор Ерёмин
									.member-position frontend разработчик
							li.member-list__item
								picture.member-photo
									img(src="images/member-anton_1x.jpg" alt="Антон" srcset="images/member-anton_1x.jpg 1x, images/member-anton_2x.jpg 2x")
								.member-description
									.member-name Антон Прокопьев
									.member-position javascript разработчик
							li.member-list__item
								picture.member-photo
									img(src="images/member-chupin_1x.jpg" alt="Иван" srcset="images/member-chupin_1x.jpg 1x, images/member-chupin_2x.jpg 2x")
								.member-description
									.member-name Иван Чупин
									.member-position ux/ui дизайнер
			.projects-item
				.projects-slider-col
					.projects-slider.owl-carousel(data-time="")
						.projects-slider__item
							.projects-slider-wrapper
								.slider-content-wrapper
									.projects-slider__header
										.projects-slider__header-dots
										.projects-slider__header-dots
										.projects-slider__header-dots
									.projects-slider-container
										| 1
								.slider-content-wrapper-mobile
									| <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="300" height="508" viewBox="0 0 300 508">
									|     <defs>
									|         <rect id="b" width="200" height="408" rx="24"/>
									|         <filter id="a" width="175%" height="136.8%" x="-37.5%" y="-18.4%" filterUnits="objectBoundingBox">
									|             <feOffset in="SourceAlpha" result="shadowOffsetOuter1"/>
									|             <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="25"/>
									|             <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0.323977461 0 0 0 0 0.381127872 0 0 0 0 0.466853487 0 0 0 0.15 0"/>
									|         </filter>
									|     </defs>
									|     <g fill="none" fill-rule="evenodd" transform="translate(50 50)">
									|         <use fill="#000" filter="url(#a)" xlink:href="#b"/>
									|         <use fill="#1D1D1D" xlink:href="#b"/>
									|         <rect width="184" height="336" x="8" y="36" fill="#FFF" rx="4"/>
									|     </g>
									| </svg>
						.projects-slider__item
							.projects-slider-wrapper
								.slider-content-wrapper
									.projects-slider__header
										.projects-slider__header-dots
										.projects-slider__header-dots
										.projects-slider__header-dots
									.projects-slider-container
										| 2
								.slider-content-wrapper-mobile
									| <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="300" height="508" viewBox="0 0 300 508">
									|     <defs>
									|         <rect id="b" width="200" height="408" rx="24"/>
									|         <filter id="a" width="175%" height="136.8%" x="-37.5%" y="-18.4%" filterUnits="objectBoundingBox">
									|             <feOffset in="SourceAlpha" result="shadowOffsetOuter1"/>
									|             <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="25"/>
									|             <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0.323977461 0 0 0 0 0.381127872 0 0 0 0 0.466853487 0 0 0 0.15 0"/>
									|         </filter>
									|     </defs>
									|     <g fill="none" fill-rule="evenodd" transform="translate(50 50)">
									|         <use fill="#000" filter="url(#a)" xlink:href="#b"/>
									|         <use fill="#1D1D1D" xlink:href="#b"/>
									|         <rect width="184" height="336" x="8" y="36" fill="#FFF" rx="4"/>
									|     </g>
									| </svg>
						.projects-slider__item
							.projects-slider-wrapper
								.slider-content-wrapper
									.projects-slider__header
										.projects-slider__header-dots
										.projects-slider__header-dots
										.projects-slider__header-dots
									.projects-slider-container
										| 3
								.slider-content-wrapper-mobile
									| <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="300" height="508" viewBox="0 0 300 508">
									|     <defs>
									|         <rect id="b" width="200" height="408" rx="24"/>
									|         <filter id="a" width="175%" height="136.8%" x="-37.5%" y="-18.4%" filterUnits="objectBoundingBox">
									|             <feOffset in="SourceAlpha" result="shadowOffsetOuter1"/>
									|             <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="25"/>
									|             <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0.323977461 0 0 0 0 0.381127872 0 0 0 0 0.466853487 0 0 0 0.15 0"/>
									|         </filter>
									|     </defs>
									|     <g fill="none" fill-rule="evenodd" transform="translate(50 50)">
									|         <use fill="#000" filter="url(#a)" xlink:href="#b"/>
									|         <use fill="#1D1D1D" xlink:href="#b"/>
									|         <rect width="184" height="336" x="8" y="36" fill="#FFF" rx="4"/>
									|     </g>
									| </svg>
						.projects-slider__item
							.projects-slider-wrapper
								.slider-content-wrapper
									.projects-slider__header
										.projects-slider__header-dots
										.projects-slider__header-dots
										.projects-slider__header-dots
									.projects-slider-container
										| 4
								.slider-content-wrapper-mobile
									| <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="300" height="508" viewBox="0 0 300 508">
									|     <defs>
									|         <rect id="b" width="200" height="408" rx="24"/>
									|         <filter id="a" width="175%" height="136.8%" x="-37.5%" y="-18.4%" filterUnits="objectBoundingBox">
									|             <feOffset in="SourceAlpha" result="shadowOffsetOuter1"/>
									|             <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="25"/>
									|             <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0.323977461 0 0 0 0 0.381127872 0 0 0 0 0.466853487 0 0 0 0.15 0"/>
									|         </filter>
									|     </defs>
									|     <g fill="none" fill-rule="evenodd" transform="translate(50 50)">
									|         <use fill="#000" filter="url(#a)" xlink:href="#b"/>
									|         <use fill="#1D1D1D" xlink:href="#b"/>
									|         <rect width="184" height="336" x="8" y="36" fill="#FFF" rx="4"/>
									|     </g>
									| </svg>
					.projects-quantity
						span.number-items
				.projects-description-col
					a(href="//flyboots.ru/" target="_blank").projects-description-link Flyboots
					.detail-project
						.description-title Детали проекта
						.description-text
							p Макеты — 52 шт
							p Трудозатраты — 150 часов
							p Длительность — 35 дней
					.detail-project
						.description-title Участники
						ul.member-list
							li.member-list__item
								picture.member-photo
									img(src="images/member-eremin_1x.jpg" alt="Егор" srcset="images/member-eremin_1x.jpg 1x, images/member-eremin_2x.jpg 2x")
								.member-description
									.member-name Егор Ерёмин
									.member-position frontend разработчик
							li.member-list__item
								picture.member-photo
									img(src="images/member-anton_1x.jpg" alt="Антон" srcset="images/member-anton_1x.jpg 1x, images/member-anton_2x.jpg 2x")
								.member-description
									.member-name Антон Прокопьев
									.member-position javascript разработчик
							li.member-list__item
								picture.member-photo
									img(src="images/member-chupin_1x.jpg" alt="Иван" srcset="images/member-chupin_1x.jpg 1x, images/member-chupin_2x.jpg 2x")
								.member-description
									.member-name Иван Чупин
									.member-position ux/ui дизайнер
			.projects-item
				.projects-slider-col
					.projects-slider.owl-carousel(data-time="")
						.projects-slider__item
							.projects-slider-wrapper
								.slider-content-wrapper
									.projects-slider__header
										.projects-slider__header-dots
										.projects-slider__header-dots
										.projects-slider__header-dots
									.projects-slider-container
										| 1
								.slider-content-wrapper-mobile
									| <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="300" height="508" viewBox="0 0 300 508">
									|     <defs>
									|         <rect id="b" width="200" height="408" rx="24"/>
									|         <filter id="a" width="175%" height="136.8%" x="-37.5%" y="-18.4%" filterUnits="objectBoundingBox">
									|             <feOffset in="SourceAlpha" result="shadowOffsetOuter1"/>
									|             <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="25"/>
									|             <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0.323977461 0 0 0 0 0.381127872 0 0 0 0 0.466853487 0 0 0 0.15 0"/>
									|         </filter>
									|     </defs>
									|     <g fill="none" fill-rule="evenodd" transform="translate(50 50)">
									|         <use fill="#000" filter="url(#a)" xlink:href="#b"/>
									|         <use fill="#1D1D1D" xlink:href="#b"/>
									|         <rect width="184" height="336" x="8" y="36" fill="#FFF" rx="4"/>
									|     </g>
									| </svg>
						.projects-slider__item
							.projects-slider-wrapper
								.slider-content-wrapper
									.projects-slider__header
										.projects-slider__header-dots
										.projects-slider__header-dots
										.projects-slider__header-dots
									.projects-slider-container
										| 2
								.slider-content-wrapper-mobile
									| <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="300" height="508" viewBox="0 0 300 508">
									|     <defs>
									|         <rect id="b" width="200" height="408" rx="24"/>
									|         <filter id="a" width="175%" height="136.8%" x="-37.5%" y="-18.4%" filterUnits="objectBoundingBox">
									|             <feOffset in="SourceAlpha" result="shadowOffsetOuter1"/>
									|             <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="25"/>
									|             <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0.323977461 0 0 0 0 0.381127872 0 0 0 0 0.466853487 0 0 0 0.15 0"/>
									|         </filter>
									|     </defs>
									|     <g fill="none" fill-rule="evenodd" transform="translate(50 50)">
									|         <use fill="#000" filter="url(#a)" xlink:href="#b"/>
									|         <use fill="#1D1D1D" xlink:href="#b"/>
									|         <rect width="184" height="336" x="8" y="36" fill="#FFF" rx="4"/>
									|     </g>
									| </svg>
						.projects-slider__item
							.projects-slider-wrapper
								.slider-content-wrapper
									.projects-slider__header
										.projects-slider__header-dots
										.projects-slider__header-dots
										.projects-slider__header-dots
									.projects-slider-container
										| 3
								.slider-content-wrapper-mobile
									| <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="300" height="508" viewBox="0 0 300 508">
									|     <defs>
									|         <rect id="b" width="200" height="408" rx="24"/>
									|         <filter id="a" width="175%" height="136.8%" x="-37.5%" y="-18.4%" filterUnits="objectBoundingBox">
									|             <feOffset in="SourceAlpha" result="shadowOffsetOuter1"/>
									|             <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="25"/>
									|             <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0.323977461 0 0 0 0 0.381127872 0 0 0 0 0.466853487 0 0 0 0.15 0"/>
									|         </filter>
									|     </defs>
									|     <g fill="none" fill-rule="evenodd" transform="translate(50 50)">
									|         <use fill="#000" filter="url(#a)" xlink:href="#b"/>
									|         <use fill="#1D1D1D" xlink:href="#b"/>
									|         <rect width="184" height="336" x="8" y="36" fill="#FFF" rx="4"/>
									|     </g>
									| </svg>
						.projects-slider__item
							.projects-slider-wrapper
								.slider-content-wrapper
									.projects-slider__header
										.projects-slider__header-dots
										.projects-slider__header-dots
										.projects-slider__header-dots
									.projects-slider-container
										| 4
								.slider-content-wrapper-mobile
									| <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="300" height="508" viewBox="0 0 300 508">
									|     <defs>
									|         <rect id="b" width="200" height="408" rx="24"/>
									|         <filter id="a" width="175%" height="136.8%" x="-37.5%" y="-18.4%" filterUnits="objectBoundingBox">
									|             <feOffset in="SourceAlpha" result="shadowOffsetOuter1"/>
									|             <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="25"/>
									|             <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0.323977461 0 0 0 0 0.381127872 0 0 0 0 0.466853487 0 0 0 0.15 0"/>
									|         </filter>
									|     </defs>
									|     <g fill="none" fill-rule="evenodd" transform="translate(50 50)">
									|         <use fill="#000" filter="url(#a)" xlink:href="#b"/>
									|         <use fill="#1D1D1D" xlink:href="#b"/>
									|         <rect width="184" height="336" x="8" y="36" fill="#FFF" rx="4"/>
									|     </g>
									| </svg>
					.projects-quantity
						span.number-items
				.projects-description-col
					a(href="//flyboots.ru/" target="_blank").projects-description-link Flyboots
					.detail-project
						.description-title Детали проекта
						.description-text
							p Макеты — 52 шт
							p Трудозатраты — 150 часов
							p Длительность — 35 дней
					.detail-project
						.description-title Участники
						ul.member-list
							li.member-list__item
								picture.member-photo
									img(src="images/member-eremin_1x.jpg" alt="Егор" srcset="images/member-eremin_1x.jpg 1x, images/member-eremin_2x.jpg 2x")
								.member-description
									.member-name Егор Ерёмин
									.member-position frontend разработчик
							li.member-list__item
								picture.member-photo
									img(src="images/member-anton_1x.jpg" alt="Антон" srcset="images/member-anton_1x.jpg 1x, images/member-anton_2x.jpg 2x")
								.member-description
									.member-name Антон Прокопьев
									.member-position javascript разработчик
							li.member-list__item
								picture.member-photo
									img(src="images/member-chupin_1x.jpg" alt="Иван" srcset="images/member-chupin_1x.jpg 1x, images/member-chupin_2x.jpg 2x")
								.member-description
									.member-name Иван Чупин
									.member-position ux/ui дизайнер
			.projects-item
				.projects-slider-col
					.projects-slider.owl-carousel(data-time="")
						.projects-slider__item
							.projects-slider-wrapper
								.slider-content-wrapper
									.projects-slider__header
										.projects-slider__header-dots
										.projects-slider__header-dots
										.projects-slider__header-dots
									.projects-slider-container
										| 1
								.slider-content-wrapper-mobile
									| <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="300" height="508" viewBox="0 0 300 508">
									|     <defs>
									|         <rect id="b" width="200" height="408" rx="24"/>
									|         <filter id="a" width="175%" height="136.8%" x="-37.5%" y="-18.4%" filterUnits="objectBoundingBox">
									|             <feOffset in="SourceAlpha" result="shadowOffsetOuter1"/>
									|             <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="25"/>
									|             <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0.323977461 0 0 0 0 0.381127872 0 0 0 0 0.466853487 0 0 0 0.15 0"/>
									|         </filter>
									|     </defs>
									|     <g fill="none" fill-rule="evenodd" transform="translate(50 50)">
									|         <use fill="#000" filter="url(#a)" xlink:href="#b"/>
									|         <use fill="#1D1D1D" xlink:href="#b"/>
									|         <rect width="184" height="336" x="8" y="36" fill="#FFF" rx="4"/>
									|     </g>
									| </svg>
						.projects-slider__item
							.projects-slider-wrapper
								.slider-content-wrapper
									.projects-slider__header
										.projects-slider__header-dots
										.projects-slider__header-dots
										.projects-slider__header-dots
									.projects-slider-container
										| 2
								.slider-content-wrapper-mobile
									| <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="300" height="508" viewBox="0 0 300 508">
									|     <defs>
									|         <rect id="b" width="200" height="408" rx="24"/>
									|         <filter id="a" width="175%" height="136.8%" x="-37.5%" y="-18.4%" filterUnits="objectBoundingBox">
									|             <feOffset in="SourceAlpha" result="shadowOffsetOuter1"/>
									|             <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="25"/>
									|             <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0.323977461 0 0 0 0 0.381127872 0 0 0 0 0.466853487 0 0 0 0.15 0"/>
									|         </filter>
									|     </defs>
									|     <g fill="none" fill-rule="evenodd" transform="translate(50 50)">
									|         <use fill="#000" filter="url(#a)" xlink:href="#b"/>
									|         <use fill="#1D1D1D" xlink:href="#b"/>
									|         <rect width="184" height="336" x="8" y="36" fill="#FFF" rx="4"/>
									|     </g>
									| </svg>
						.projects-slider__item
							.projects-slider-wrapper
								.slider-content-wrapper
									.projects-slider__header
										.projects-slider__header-dots
										.projects-slider__header-dots
										.projects-slider__header-dots
									.projects-slider-container
										| 3
								.slider-content-wrapper-mobile
									| <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="300" height="508" viewBox="0 0 300 508">
									|     <defs>
									|         <rect id="b" width="200" height="408" rx="24"/>
									|         <filter id="a" width="175%" height="136.8%" x="-37.5%" y="-18.4%" filterUnits="objectBoundingBox">
									|             <feOffset in="SourceAlpha" result="shadowOffsetOuter1"/>
									|             <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="25"/>
									|             <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0.323977461 0 0 0 0 0.381127872 0 0 0 0 0.466853487 0 0 0 0.15 0"/>
									|         </filter>
									|     </defs>
									|     <g fill="none" fill-rule="evenodd" transform="translate(50 50)">
									|         <use fill="#000" filter="url(#a)" xlink:href="#b"/>
									|         <use fill="#1D1D1D" xlink:href="#b"/>
									|         <rect width="184" height="336" x="8" y="36" fill="#FFF" rx="4"/>
									|     </g>
									| </svg>
					.projects-quantity
						span.number-items
				.projects-description-col
					a(href="//flyboots.ru/" target="_blank").projects-description-link Flyboots
					.detail-project
						.description-title Детали проекта
						.description-text
							p Макеты — 52 шт
							p Трудозатраты — 150 часов
							p Длительность — 35 дней
					.detail-project
						.description-title Участники
						ul.member-list
							li.member-list__item
								picture.member-photo
									img(src="images/member-eremin_1x.jpg" alt="Егор" srcset="images/member-eremin_1x.jpg 1x, images/member-eremin_2x.jpg 2x")
								.member-description
									.member-name Егор Ерёмин
									.member-position frontend разработчик
							li.member-list__item
								picture.member-photo
									img(src="images/member-anton_1x.jpg" alt="Антон" srcset="images/member-anton_1x.jpg 1x, images/member-anton_2x.jpg 2x")
								.member-description
									.member-name Антон Прокопьев
									.member-position javascript разработчик
							li.member-list__item
								picture.member-photo
									img(src="images/member-chupin_1x.jpg" alt="Иван" srcset="images/member-chupin_1x.jpg 1x, images/member-chupin_2x.jpg 2x")
								.member-description
									.member-name Иван Чупин
									.member-position ux/ui дизайнер
		.show-all-wrapper
			button.btn-show-more Показать ещё
			a(href="#").all-projects.btn.hide
				| Все проекты
				| <svg width="16px" class="show-all-svg" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				|     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
				|         <g transform="translate(-1102.000000, -2240.000000)" fill="#ffffff" fill-rule="nonzero">
				|             <g transform="translate(968.000000, 2239.000000)">
				|                 <g transform="translate(134.000000, 1.000000)">
				|                     <g>
				|                         <path d="M15.2380549,0 C15.6588369,0 16,0.341131143 16,0.761914116 L16,6.85716156 C16,7.27794454 15.6588696,7.61907568 15.2380876,7.61907568 C14.8173056,7.61907568 14.4761753,7.27794454 14.4761753,6.85716156 L14.4761753,2.60130502 L6.63397467,10.4434909 C6.48521302,10.5923184 6.29019253,10.6666667 6.09520477,10.6666667 C5.90021702,10.6666667 5.70522926,10.5922857 5.55650035,10.4435237 C5.25894433,10.145967 5.25894433,9.66360361 5.55650035,9.36604689 L13.3986682,1.52382823 L9.14282148,1.52382823 C8.72203948,1.52382823 8.38090912,1.18269709 8.38090912,0.761914116 C8.38090912,0.341131143 8.72203948,0 9.14282148,0 L15.2380549,0 Z M12.5925537,7.1111005 C13.0016471,7.1111005 13.3333333,7.44275567 13.3333333,7.85185008 L13.3333333,15.2592504 C13.3333333,15.6683448 13.001679,16 12.5925855,16 L0.740747814,16 C0.331654373,16 0,15.6683448 0,15.2592822 L0,3.40741625 C0,2.99832183 0.331654373,2.66666667 0.740747814,2.66666667 L8.14813047,2.66666667 C8.55722391,2.66666667 8.88887828,2.99829 8.88887828,3.40738442 C8.88887828,3.81647884 8.55722391,4.148134 8.14813047,4.148134 L1.4814638,4.148134 L1.4814638,14.5185327 L11.8518059,14.5185327 L11.8518059,7.85185008 C11.8518059,7.44275567 12.1834603,7.1111005 12.5925537,7.1111005 Z"></path>
				|                     </g>
				|                 </g>
				|             </g>
				|         </g>
				|     </g>
				| </svg>
		.layout-cost
			h3.layout-cost__title Стоимость вёрстки
			.layout-cost__text
				| <span class="br">Цена зависит от сложности макетов. Чем опытнее</span> специалист потребуется, тем выше стоимость часа работы.
				| <span class="crossed-out-text">
				| <svg class="line-svg" width="587px" height="48px" viewBox="0 0 587 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				|     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
				|         <g transform="translate(-407.000000, -4580.000000)" stroke="#FFE769" stroke-width="24">
				|             <g transform="translate(100.000000, 4336.000000)">
				|                 <g transform="translate(308.000000, 256.000000)">
				|                     <path d="M0,4.24343033 C73.6826536,2.18753913 147.187487,0.901906074 220.514501,0.386531175 C293.841515,-0.128843725 403.255237,-0.128843725 548.755668,0.386531175 C419.004887,3.6492125 322.506907,6.40241684 259.26173,8.64614418 C196.016552,10.8898715 120.579771,14.2363374 32.9513855,18.6855418 C150.874781,16.7167524 241.528292,16.0374483 304.911918,16.6476294 C368.295544,17.2578105 461.658238,19.7086007 585,24"></path>
				|                 </g>
				|             </g>
				|         </g>
				|     </g>
				| </svg>
				| <svg class="line-svg-mobile" width="304px" height="72px" viewBox="0 0 304 72" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				|     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
				|         <g transform="translate(-35.000000, -5108.000000)" stroke="#FFE769" stroke-width="24">
				|             <path d="M37,5128.48686 C74.7859762,5124.37508 112.480763,5121.80381 150.08436,5120.77306 C187.687956,5119.74231 243.797558,5119.74231 318.413163,5120.77306 C251.874301,5127.29843 202.388158,5132.80483 169.954733,5137.29229 C137.521309,5141.77974 98.83578,5148.47267 53.8981464,5157.37108 C114.371682,5153.4335 160.860662,5152.0749 193.365086,5153.29526 C225.86951,5154.51562 273.747815,5159.4172 337,5168"></path>
				|         </g>
				|     </g>
				| </svg>
				| <span class="crossed-out-text-wrapper">Час работы специалиста  от 1 000 до 2 000 рублей.</span></span>
mixin projects-block(class_modification)
	if class_modification === undefined
		section(class='projects')
			+projects-content
	else
		section(class='projects ' + class_modification)
			+projects-content