mixin request-content
	.template-wrapper.template-wrapper_request.section-wrapper
		.request-content
			h2.main-h2
				| <span class="br">Заявка</span>
				| на вёрстку
			.request-content__text
				| Отправьте макеты, мы&nbsp;оценим вёрстку и&nbsp;пришлём&nbsp;смету&nbsp;
				| в&nbsp;течение&nbsp;дня&nbsp;<span class="rocket">
				| <svg width="67px" height="53px" viewBox="0 0 67 53" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				|     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
				|         <g transform="translate(-404.000000, -8622.000000)" fill-rule="nonzero">
				|             <g transform="translate(100.000000, 8136.000000)">
				|                 <g transform="translate(80.000000, 164.000000)">
				|                     <g transform="translate(224.000000, 322.000000)">
				|                         <path class="flame" d="M18.7360303,21.2609738 C18.7360303,21.2609738 28.1926898,31.7100257 18.9397238,31.2459615 C9.68675776,30.7818973 0,26.3010152 0,26.3010152 C12.0292331,21.489202 18.7360303,21.2609738 18.7360303,21.2609738 Z" id="Path" fill="#FFE769"></path>
				|                         <g transform="translate(17.500000, 0.000000)">
				|                             <g transform="translate(25.000000, 26.500000) rotate(-270.000000) translate(-25.000000, -26.500000) translate(-1.000000, 2.000000)">
				|                                 <path d="M14.264452,28.5420625 C14.264452,27.3527917 14.3094011,26.1667292 14.3934237,24.9892708 C10.8591864,26.9651667 8.42429379,31.367 8.42429379,36.4631458 C8.42429379,39.1546458 9.09838418,41.7214583 10.3735593,43.8860625 C10.4932768,44.0893542 10.7099435,44.2055833 10.9349831,44.2055833 C11.0172429,44.2055833 11.1005311,44.190125 11.1805876,44.1576042 C12.8564859,43.4774375 14.6474011,43.1280208 16.504565,43.1134375 C15.0381356,38.6322708 14.264452,33.6278542 14.264452,28.5420625 Z" fill="#E63D3A"></path>
				|                                 <path class="star3 stars" d="M44.5773672,14.0103542 C44.4047684,14.0103542 44.249209,13.9071042 44.1831073,13.748875 C43.3431751,11.7355 42.7240226,11.1208125 40.6960226,10.2870833 C40.5366441,10.2216042 40.432791,10.0670208 40.432791,9.8958125 C40.432791,9.7243125 40.536791,9.57002083 40.6960226,9.50439583 C42.7241695,8.67022917 43.343322,8.05554167 44.1831073,6.04245833 C44.249209,5.88408333 44.4047684,5.78083333 44.5773672,5.78083333 C44.7499661,5.78083333 44.9055254,5.88408333 44.9716271,6.04245833 C45.8117062,8.0556875 46.4308588,8.670375 48.4588588,9.50439583 C48.6182373,9.57002083 48.7220904,9.7243125 48.7220904,9.8958125 C48.7220904,10.0670208 48.6180904,10.2216042 48.4587119,10.2870833 C46.4307119,11.1208125 45.8117062,11.7356458 44.9714802,13.748875 C44.9055254,13.9071042 44.7499661,14.0103542 44.5773672,14.0103542 L44.5773672,14.0103542 Z" fill="#FFE769"></path>
				|                                 <g transform="translate(19.830508, 24.937500)" fill="#E63D3A">
				|                                     <path d="M16.894565,0.0517708333 C16.9785876,1.229375 17.0235367,2.4154375 17.0235367,3.6045625 C17.0235367,8.69020833 16.2498531,13.694625 14.7832768,18.1759375 C16.6405876,18.1905208 18.4313559,18.5399375 20.1072542,19.2201042 C20.1873107,19.252625 20.2707458,19.2680833 20.3528588,19.2680833 C20.5780452,19.2680833 20.794565,19.1517083 20.9142825,18.9485625 C22.1896045,16.7839583 22.863548,14.2171458 22.863548,11.5256458 C22.8636949,6.4295 20.4288023,2.02766667 16.894565,0.0517708333 Z"></path>
				|                                     <path d="M0.104,19.8515625 L0.104,23.2136042 C0.104,23.6146458 0.434508475,23.9427708 0.838463277,23.9427708 L10.6190169,23.9427708 C11.0229718,23.9427708 11.3534802,23.6146458 11.3534802,23.2136042 L11.3534802,19.8515625 L0.104,19.8515625 Z"></path>
				|                                 </g>
				|                                 <path d="M34.4983277,13.171375 L16.6201695,13.171375 C14.9817288,17.8603542 14.1175593,23.1380625 14.1175593,28.5420625 C14.1175593,34.1598542 15.0560565,39.6818333 16.8314011,44.5108125 C16.9251186,44.7654375 17.1689605,44.9348958 17.4420339,44.9348958 L33.6764633,44.9348958 C33.9495367,44.9348958 34.1935254,44.7654375 34.287096,44.5108125 C36.0624407,39.6818333 37.0009379,34.1598542 37.0009379,28.5420625 C37.0009379,23.1380625 36.1369153,17.8605 34.4983277,13.171375 Z" fill="#FF4A47"></path>
				|                                 <path d="M21.3257288,13.171375 L21.3257288,15.5913333 C21.3257288,15.992375 21.6562373,16.3205 22.0601921,16.3205 L29.058452,16.3205 C29.4624068,16.3205 29.7929153,15.992375 29.7929153,15.5913333 L29.7929153,13.171375 L21.3257288,13.171375 Z" fill="#FF4A47"></path>
				|                                 <path d="M25.559322,0 C25.414339,0 25.2695028,0.0479791667 25.150226,0.143791667 C21.8689379,2.78177083 19.1050056,6.7834375 17.1576497,11.71625 C16.9505311,12.2411042 16.7558983,12.7763125 16.5691977,13.3172083 L34.5492994,13.3172083 C34.3625989,12.7763125 34.1679661,12.2411042 33.9608475,11.71625 C32.0134915,6.7834375 29.2497062,2.78177083 25.9682712,0.143791667 C25.8491412,0.0479791667 25.7043051,0 25.559322,0 Z" fill="#E63D3A"></path>
				|                                 <ellipse fill="#E63D3A" cx="25.559322" cy="26.385625" rx="7.49446328" ry="7.44041667"></ellipse>
				|                                 <ellipse fill="#FFFFFF" cx="25.559322" cy="26.385625" rx="4.8079435" ry="4.77327083"></ellipse>
				|                                 <path class="star1 stars" d="M4.13297175,26.0658125 C3.96448588,26.0658125 3.81259887,25.9650417 3.74811299,25.8104583 C2.9280113,23.8447708 2.32340113,23.2446667 0.343435028,22.4304792 C0.187728814,22.3664583 0.0863728814,22.2156667 0.0863728814,22.0483958 C0.0863728814,21.881125 0.187875706,21.7303333 0.343435028,21.6663125 C2.32354802,20.8518333 2.9280113,20.2515833 3.74811299,18.2860417 C3.81259887,18.1314583 3.96448588,18.0306875 4.13297175,18.0306875 C4.30145763,18.0306875 4.45334463,18.1314583 4.51783051,18.2860417 C5.3380791,20.2515833 5.94268927,20.8518333 7.92265537,21.6663125 C8.07836158,21.7303333 8.17986441,21.881125 8.17986441,22.0483958 C8.17986441,22.2156667 8.07836158,22.3666042 7.92265537,22.4304792 C5.94268927,23.2445208 5.3380791,23.8447708 4.51783051,25.8104583 C4.45334463,25.9650417 4.30145763,26.0658125 4.13297175,26.0658125 L4.13297175,26.0658125 Z" fill="#FFE769"></path>
				|                                 <path class="star2 stars" d="M48.3965763,29.3714167 C48.2485085,29.3714167 48.1149831,29.2828958 48.0582825,29.1469792 C47.3374802,27.4191458 46.8060226,26.8916667 45.0656384,26.1760625 C44.9288814,26.1199167 44.8395706,25.9872083 44.8395706,25.8402083 C44.8395706,25.6930625 44.9287345,25.5606458 45.0656384,25.5043542 C46.8061695,24.7884583 47.3374802,24.2608333 48.0582825,22.5331458 C48.1149831,22.3972292 48.2485085,22.3087083 48.3965763,22.3087083 C48.5446441,22.3087083 48.6781695,22.3972292 48.7348701,22.5331458 C49.4558192,24.2609792 49.9872768,24.7884583 51.7278079,25.5043542 C51.864565,25.5606458 51.9537288,25.6930625 51.9537288,25.8402083 C51.9537288,25.9872083 51.864565,26.1197708 51.727661,26.1760625 C49.9872768,26.8916667 49.4558192,27.4191458 48.7348701,29.1469792 C48.6783164,29.28275 48.544791,29.3714167 48.3965763,29.3714167 L48.3965763,29.3714167 Z" fill="#FFE769"></path>
				|                             </g>
				|                         </g>
				|                     </g>
				|                 </g>
				|             </g>
				|         </g>
				|     </g>
				| </svg>
				| </span>
		form.request-form
			.form-item
				label.form-label
					span.label-text Имя
					input(type="text" name="name" required).form-input
			.form-item
				label.form-label
					span.label-text Электронная почта
					input(type="email" name="mail" required).form-input
			.form-item
				label.form-label
					span.label-text Мобильный телефон
					input(type="tel" name="phone" placeholder="+7 (000) 000-00-00" required).form-input.user-phone
			.form-item.form-item_textarea
				label.form-label
					span.label-text Кратко суть задачи
					textarea(name="description").form-textarea.custom-scroll
			.form-item.form-item_add-file
				.download-file-block
					ul.upload-list
					.upload-file-wrapper
						.upload-file-button
							input(type="file" multiple)#add-file-input.custom-input-file
							label.add-file(for="add-file-input")
								| <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
								|     <path fill="#FFF" fill-rule="evenodd" d="M7 5h4.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H7v4.5a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5V7H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 5H5V.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5V5z"/>
								| </svg>
						.label-text-download Прикрепить макеты
			.form-item.form-item_submit
				button.btn.btn_submit Отправить
			.privacy-policy
				|    Нажимая на кнопку, вы даёте <a href="#" class="content-link" target="_blank">согласие</a>
				| на обработку персональных данных и соглашаетесь с политикой конфиденциальных данных
	.answer-form.mfp-hide
		.answer-form__icon
			img(src="images/goat.png" width="35" alt="goat")
		.answer-form-title
			| <span class="user-name br">Константин, </span>
			| спасибо за заявку!
		.answer-form-text
			| Позвоним в течение дня<br> на номер <span class="current-number-phone"></span>
		button.close-popup Ок
mixin request(class_modification)
	if class_modification === undefined
		section(class= 'request')
			+request-content
	else
		section(class= 'request ' + class_modification)
			+request-content
