mixin reviews-content
	.template-wrapper.template-wrapper_reviews.section-wrapper.full-height
		h2.main-h2.main-h2_center Отзывы клиентов
		.stars-block
			.stars-list-wrapper
				ul.stars-list
					li.stars-list__item
						| <svg width="17px" height="16px" viewBox="0 0 17 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						|     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						|         <g transform="translate(-667.000000, -6152.000000)" fill="#FF4A47" fill-rule="nonzero">
						|             <g transform="translate(100.000000, 6004.000000)">
						|                 <g transform="translate(525.000000, 144.000000)">
						|                     <g transform="translate(0.000000, 4.000000)">
						|                         <g transform="translate(42.000000, 0.000000)">
						|                             <g>
						|                                 <path d="M7.80191489,0.372977778 C7.91151064,0.155377778 8.13721277,0.0174222222 8.38389362,0.0174222222 C8.63057447,0.0174222222 8.8566383,0.155377778 8.96587234,0.372977778 L11.0532553,4.5312 C11.1476596,4.71928889 11.3306809,4.84977778 11.5422766,4.88 L16.2104043,5.54666667 C16.4552766,5.58151111 16.6578298,5.75004444 16.7341489,5.9808 C16.8104681,6.21155556 16.7468085,6.46542222 16.5699362,6.63466667 L13.1923617,9.87164444 C13.0393617,10.0181333 12.9695532,10.2293333 13.0053617,10.4362667 L13.8025532,15.0069333 C13.8437872,15.2465778 13.7443191,15.4883556 13.5439362,15.6312889 C13.3439149,15.7735111 13.0795106,15.7923556 12.8603191,15.68 L8.68482979,13.5217778 C8.49602128,13.424 8.26995745,13.424 8.08078723,13.5217778 L3.90529787,15.6796444 C3.68682979,15.7923556 3.42170213,15.7738667 3.22168085,15.6312889 C3.02165957,15.4887111 2.92182979,15.2465778 2.96342553,15.0069333 L3.76061702,10.4362667 C3.79678723,10.2293333 3.72661702,10.0181333 3.57361702,9.87164444 L0.196042553,6.63466667 C0.0191702128,6.46506667 -0.0444893617,6.21155556 0.0318297872,5.9808 C0.108148936,5.75004444 0.31106383,5.58151111 0.55593617,5.54666667 L5.22478723,4.88 C5.43602128,4.84977778 5.61904255,4.71928889 5.71344681,4.53084444 L7.80191489,0.372977778 Z"></path>
						|                             </g>
						|                         </g>
						|                     </g>
						|                 </g>
						|             </g>
						|         </g>
						|     </g>
						| </svg>
					li.stars-list__item
						| <svg width="17px" height="16px" viewBox="0 0 17 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						|     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						|         <g transform="translate(-667.000000, -6152.000000)" fill="#FF4A47" fill-rule="nonzero">
						|             <g transform="translate(100.000000, 6004.000000)">
						|                 <g transform="translate(525.000000, 144.000000)">
						|                     <g transform="translate(0.000000, 4.000000)">
						|                         <g transform="translate(42.000000, 0.000000)">
						|                             <g>
						|                                 <path d="M7.80191489,0.372977778 C7.91151064,0.155377778 8.13721277,0.0174222222 8.38389362,0.0174222222 C8.63057447,0.0174222222 8.8566383,0.155377778 8.96587234,0.372977778 L11.0532553,4.5312 C11.1476596,4.71928889 11.3306809,4.84977778 11.5422766,4.88 L16.2104043,5.54666667 C16.4552766,5.58151111 16.6578298,5.75004444 16.7341489,5.9808 C16.8104681,6.21155556 16.7468085,6.46542222 16.5699362,6.63466667 L13.1923617,9.87164444 C13.0393617,10.0181333 12.9695532,10.2293333 13.0053617,10.4362667 L13.8025532,15.0069333 C13.8437872,15.2465778 13.7443191,15.4883556 13.5439362,15.6312889 C13.3439149,15.7735111 13.0795106,15.7923556 12.8603191,15.68 L8.68482979,13.5217778 C8.49602128,13.424 8.26995745,13.424 8.08078723,13.5217778 L3.90529787,15.6796444 C3.68682979,15.7923556 3.42170213,15.7738667 3.22168085,15.6312889 C3.02165957,15.4887111 2.92182979,15.2465778 2.96342553,15.0069333 L3.76061702,10.4362667 C3.79678723,10.2293333 3.72661702,10.0181333 3.57361702,9.87164444 L0.196042553,6.63466667 C0.0191702128,6.46506667 -0.0444893617,6.21155556 0.0318297872,5.9808 C0.108148936,5.75004444 0.31106383,5.58151111 0.55593617,5.54666667 L5.22478723,4.88 C5.43602128,4.84977778 5.61904255,4.71928889 5.71344681,4.53084444 L7.80191489,0.372977778 Z"></path>
						|                             </g>
						|                         </g>
						|                     </g>
						|                 </g>
						|             </g>
						|         </g>
						|     </g>
						| </svg>
					li.stars-list__item
						| <svg width="17px" height="16px" viewBox="0 0 17 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						|     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						|         <g transform="translate(-667.000000, -6152.000000)" fill="#FF4A47" fill-rule="nonzero">
						|             <g transform="translate(100.000000, 6004.000000)">
						|                 <g transform="translate(525.000000, 144.000000)">
						|                     <g transform="translate(0.000000, 4.000000)">
						|                         <g transform="translate(42.000000, 0.000000)">
						|                             <g>
						|                                 <path d="M7.80191489,0.372977778 C7.91151064,0.155377778 8.13721277,0.0174222222 8.38389362,0.0174222222 C8.63057447,0.0174222222 8.8566383,0.155377778 8.96587234,0.372977778 L11.0532553,4.5312 C11.1476596,4.71928889 11.3306809,4.84977778 11.5422766,4.88 L16.2104043,5.54666667 C16.4552766,5.58151111 16.6578298,5.75004444 16.7341489,5.9808 C16.8104681,6.21155556 16.7468085,6.46542222 16.5699362,6.63466667 L13.1923617,9.87164444 C13.0393617,10.0181333 12.9695532,10.2293333 13.0053617,10.4362667 L13.8025532,15.0069333 C13.8437872,15.2465778 13.7443191,15.4883556 13.5439362,15.6312889 C13.3439149,15.7735111 13.0795106,15.7923556 12.8603191,15.68 L8.68482979,13.5217778 C8.49602128,13.424 8.26995745,13.424 8.08078723,13.5217778 L3.90529787,15.6796444 C3.68682979,15.7923556 3.42170213,15.7738667 3.22168085,15.6312889 C3.02165957,15.4887111 2.92182979,15.2465778 2.96342553,15.0069333 L3.76061702,10.4362667 C3.79678723,10.2293333 3.72661702,10.0181333 3.57361702,9.87164444 L0.196042553,6.63466667 C0.0191702128,6.46506667 -0.0444893617,6.21155556 0.0318297872,5.9808 C0.108148936,5.75004444 0.31106383,5.58151111 0.55593617,5.54666667 L5.22478723,4.88 C5.43602128,4.84977778 5.61904255,4.71928889 5.71344681,4.53084444 L7.80191489,0.372977778 Z"></path>
						|                             </g>
						|                         </g>
						|                     </g>
						|                 </g>
						|             </g>
						|         </g>
						|     </g>
						| </svg>
					li.stars-list__item
						| <svg width="17px" height="16px" viewBox="0 0 17 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						|     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						|         <g transform="translate(-667.000000, -6152.000000)" fill="#FF4A47" fill-rule="nonzero">
						|             <g transform="translate(100.000000, 6004.000000)">
						|                 <g transform="translate(525.000000, 144.000000)">
						|                     <g transform="translate(0.000000, 4.000000)">
						|                         <g transform="translate(42.000000, 0.000000)">
						|                             <g>
						|                                 <path d="M7.80191489,0.372977778 C7.91151064,0.155377778 8.13721277,0.0174222222 8.38389362,0.0174222222 C8.63057447,0.0174222222 8.8566383,0.155377778 8.96587234,0.372977778 L11.0532553,4.5312 C11.1476596,4.71928889 11.3306809,4.84977778 11.5422766,4.88 L16.2104043,5.54666667 C16.4552766,5.58151111 16.6578298,5.75004444 16.7341489,5.9808 C16.8104681,6.21155556 16.7468085,6.46542222 16.5699362,6.63466667 L13.1923617,9.87164444 C13.0393617,10.0181333 12.9695532,10.2293333 13.0053617,10.4362667 L13.8025532,15.0069333 C13.8437872,15.2465778 13.7443191,15.4883556 13.5439362,15.6312889 C13.3439149,15.7735111 13.0795106,15.7923556 12.8603191,15.68 L8.68482979,13.5217778 C8.49602128,13.424 8.26995745,13.424 8.08078723,13.5217778 L3.90529787,15.6796444 C3.68682979,15.7923556 3.42170213,15.7738667 3.22168085,15.6312889 C3.02165957,15.4887111 2.92182979,15.2465778 2.96342553,15.0069333 L3.76061702,10.4362667 C3.79678723,10.2293333 3.72661702,10.0181333 3.57361702,9.87164444 L0.196042553,6.63466667 C0.0191702128,6.46506667 -0.0444893617,6.21155556 0.0318297872,5.9808 C0.108148936,5.75004444 0.31106383,5.58151111 0.55593617,5.54666667 L5.22478723,4.88 C5.43602128,4.84977778 5.61904255,4.71928889 5.71344681,4.53084444 L7.80191489,0.372977778 Z"></path>
						|                             </g>
						|                         </g>
						|                     </g>
						|                 </g>
						|             </g>
						|         </g>
						|     </g>
						| </svg>
					li.stars-list__item
						| <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16">
						|     <g fill="none" fill-rule="nonzero">
						|         <path fill="#E0E1E4" d="M7.802.373a.651.651 0 0 1 .582-.356.65.65 0 0 1 .582.356l2.087 4.158a.649.649 0 0 0 .49.349l4.667.667a.645.645 0 0 1 .524.434.63.63 0 0 1-.164.654l-3.378 3.237a.632.632 0 0 0-.187.564l.798 4.57a.634.634 0 0 1-.26.625.661.661 0 0 1-.683.049l-4.175-2.158a.659.659 0 0 0-.604 0L3.905 15.68a.66.66 0 0 1-.683-.049.633.633 0 0 1-.259-.624l.798-4.57a.631.631 0 0 0-.187-.565L.196 6.635a.63.63 0 0 1-.164-.654c.076-.231.28-.4.524-.434l4.669-.667a.648.648 0 0 0 .488-.35L7.802.374z"/>
						|         <path fill="#FF4A47" d="M7.802.373a.651.651 0 0 1 .582-.356l-.001 13.43a.655.655 0 0 0-.302.075L3.905 15.68a.66.66 0 0 1-.683-.049.633.633 0 0 1-.259-.624l.798-4.57a.631.631 0 0 0-.187-.565L.196 6.635a.63.63 0 0 1-.164-.654c.076-.231.28-.4.524-.434l4.669-.667a.648.648 0 0 0 .488-.35L7.802.374z"/>
						|     </g>
						| </svg>
				.rating.rating_all-reviews
					|4.5
			.number-of-reviews <span class="review-number">14</span> отзывов
		.reviews-list-wrapper
			.reviews-list
				.reviews-list__item
					.reviews-list__author Светлана Ю. А. 1
					.reviews-list__author-position
						| Руководитель компании <a href="//flyboots.ru/" target="_blank" class="content-link">flyboots.ru</a>
					.stars-list-wrapper
						ul.stars-list
							li.stars-list__item
								| <svg width="17px" height="16px" viewBox="0 0 17 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								|     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								|         <g transform="translate(-667.000000, -6152.000000)" fill="#FF4A47" fill-rule="nonzero">
								|             <g transform="translate(100.000000, 6004.000000)">
								|                 <g transform="translate(525.000000, 144.000000)">
								|                     <g transform="translate(0.000000, 4.000000)">
								|                         <g transform="translate(42.000000, 0.000000)">
								|                             <g>
								|                                 <path d="M7.80191489,0.372977778 C7.91151064,0.155377778 8.13721277,0.0174222222 8.38389362,0.0174222222 C8.63057447,0.0174222222 8.8566383,0.155377778 8.96587234,0.372977778 L11.0532553,4.5312 C11.1476596,4.71928889 11.3306809,4.84977778 11.5422766,4.88 L16.2104043,5.54666667 C16.4552766,5.58151111 16.6578298,5.75004444 16.7341489,5.9808 C16.8104681,6.21155556 16.7468085,6.46542222 16.5699362,6.63466667 L13.1923617,9.87164444 C13.0393617,10.0181333 12.9695532,10.2293333 13.0053617,10.4362667 L13.8025532,15.0069333 C13.8437872,15.2465778 13.7443191,15.4883556 13.5439362,15.6312889 C13.3439149,15.7735111 13.0795106,15.7923556 12.8603191,15.68 L8.68482979,13.5217778 C8.49602128,13.424 8.26995745,13.424 8.08078723,13.5217778 L3.90529787,15.6796444 C3.68682979,15.7923556 3.42170213,15.7738667 3.22168085,15.6312889 C3.02165957,15.4887111 2.92182979,15.2465778 2.96342553,15.0069333 L3.76061702,10.4362667 C3.79678723,10.2293333 3.72661702,10.0181333 3.57361702,9.87164444 L0.196042553,6.63466667 C0.0191702128,6.46506667 -0.0444893617,6.21155556 0.0318297872,5.9808 C0.108148936,5.75004444 0.31106383,5.58151111 0.55593617,5.54666667 L5.22478723,4.88 C5.43602128,4.84977778 5.61904255,4.71928889 5.71344681,4.53084444 L7.80191489,0.372977778 Z"></path>
								|                             </g>
								|                         </g>
								|                     </g>
								|                 </g>
								|             </g>
								|         </g>
								|     </g>
								| </svg>
							li.stars-list__item
								| <svg width="17px" height="16px" viewBox="0 0 17 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								|     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								|         <g transform="translate(-667.000000, -6152.000000)" fill="#FF4A47" fill-rule="nonzero">
								|             <g transform="translate(100.000000, 6004.000000)">
								|                 <g transform="translate(525.000000, 144.000000)">
								|                     <g transform="translate(0.000000, 4.000000)">
								|                         <g transform="translate(42.000000, 0.000000)">
								|                             <g>
								|                                 <path d="M7.80191489,0.372977778 C7.91151064,0.155377778 8.13721277,0.0174222222 8.38389362,0.0174222222 C8.63057447,0.0174222222 8.8566383,0.155377778 8.96587234,0.372977778 L11.0532553,4.5312 C11.1476596,4.71928889 11.3306809,4.84977778 11.5422766,4.88 L16.2104043,5.54666667 C16.4552766,5.58151111 16.6578298,5.75004444 16.7341489,5.9808 C16.8104681,6.21155556 16.7468085,6.46542222 16.5699362,6.63466667 L13.1923617,9.87164444 C13.0393617,10.0181333 12.9695532,10.2293333 13.0053617,10.4362667 L13.8025532,15.0069333 C13.8437872,15.2465778 13.7443191,15.4883556 13.5439362,15.6312889 C13.3439149,15.7735111 13.0795106,15.7923556 12.8603191,15.68 L8.68482979,13.5217778 C8.49602128,13.424 8.26995745,13.424 8.08078723,13.5217778 L3.90529787,15.6796444 C3.68682979,15.7923556 3.42170213,15.7738667 3.22168085,15.6312889 C3.02165957,15.4887111 2.92182979,15.2465778 2.96342553,15.0069333 L3.76061702,10.4362667 C3.79678723,10.2293333 3.72661702,10.0181333 3.57361702,9.87164444 L0.196042553,6.63466667 C0.0191702128,6.46506667 -0.0444893617,6.21155556 0.0318297872,5.9808 C0.108148936,5.75004444 0.31106383,5.58151111 0.55593617,5.54666667 L5.22478723,4.88 C5.43602128,4.84977778 5.61904255,4.71928889 5.71344681,4.53084444 L7.80191489,0.372977778 Z"></path>
								|                             </g>
								|                         </g>
								|                     </g>
								|                 </g>
								|             </g>
								|         </g>
								|     </g>
								| </svg>
							li.stars-list__item
								| <svg width="17px" height="16px" viewBox="0 0 17 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								|     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								|         <g transform="translate(-667.000000, -6152.000000)" fill="#FF4A47" fill-rule="nonzero">
								|             <g transform="translate(100.000000, 6004.000000)">
								|                 <g transform="translate(525.000000, 144.000000)">
								|                     <g transform="translate(0.000000, 4.000000)">
								|                         <g transform="translate(42.000000, 0.000000)">
								|                             <g>
								|                                 <path d="M7.80191489,0.372977778 C7.91151064,0.155377778 8.13721277,0.0174222222 8.38389362,0.0174222222 C8.63057447,0.0174222222 8.8566383,0.155377778 8.96587234,0.372977778 L11.0532553,4.5312 C11.1476596,4.71928889 11.3306809,4.84977778 11.5422766,4.88 L16.2104043,5.54666667 C16.4552766,5.58151111 16.6578298,5.75004444 16.7341489,5.9808 C16.8104681,6.21155556 16.7468085,6.46542222 16.5699362,6.63466667 L13.1923617,9.87164444 C13.0393617,10.0181333 12.9695532,10.2293333 13.0053617,10.4362667 L13.8025532,15.0069333 C13.8437872,15.2465778 13.7443191,15.4883556 13.5439362,15.6312889 C13.3439149,15.7735111 13.0795106,15.7923556 12.8603191,15.68 L8.68482979,13.5217778 C8.49602128,13.424 8.26995745,13.424 8.08078723,13.5217778 L3.90529787,15.6796444 C3.68682979,15.7923556 3.42170213,15.7738667 3.22168085,15.6312889 C3.02165957,15.4887111 2.92182979,15.2465778 2.96342553,15.0069333 L3.76061702,10.4362667 C3.79678723,10.2293333 3.72661702,10.0181333 3.57361702,9.87164444 L0.196042553,6.63466667 C0.0191702128,6.46506667 -0.0444893617,6.21155556 0.0318297872,5.9808 C0.108148936,5.75004444 0.31106383,5.58151111 0.55593617,5.54666667 L5.22478723,4.88 C5.43602128,4.84977778 5.61904255,4.71928889 5.71344681,4.53084444 L7.80191489,0.372977778 Z"></path>
								|                             </g>
								|                         </g>
								|                     </g>
								|                 </g>
								|             </g>
								|         </g>
								|     </g>
								| </svg>
							li.stars-list__item
								| <svg width="17px" height="16px" viewBox="0 0 17 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								|     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								|         <g transform="translate(-667.000000, -6152.000000)" fill="#FF4A47" fill-rule="nonzero">
								|             <g transform="translate(100.000000, 6004.000000)">
								|                 <g transform="translate(525.000000, 144.000000)">
								|                     <g transform="translate(0.000000, 4.000000)">
								|                         <g transform="translate(42.000000, 0.000000)">
								|                             <g>
								|                                 <path d="M7.80191489,0.372977778 C7.91151064,0.155377778 8.13721277,0.0174222222 8.38389362,0.0174222222 C8.63057447,0.0174222222 8.8566383,0.155377778 8.96587234,0.372977778 L11.0532553,4.5312 C11.1476596,4.71928889 11.3306809,4.84977778 11.5422766,4.88 L16.2104043,5.54666667 C16.4552766,5.58151111 16.6578298,5.75004444 16.7341489,5.9808 C16.8104681,6.21155556 16.7468085,6.46542222 16.5699362,6.63466667 L13.1923617,9.87164444 C13.0393617,10.0181333 12.9695532,10.2293333 13.0053617,10.4362667 L13.8025532,15.0069333 C13.8437872,15.2465778 13.7443191,15.4883556 13.5439362,15.6312889 C13.3439149,15.7735111 13.0795106,15.7923556 12.8603191,15.68 L8.68482979,13.5217778 C8.49602128,13.424 8.26995745,13.424 8.08078723,13.5217778 L3.90529787,15.6796444 C3.68682979,15.7923556 3.42170213,15.7738667 3.22168085,15.6312889 C3.02165957,15.4887111 2.92182979,15.2465778 2.96342553,15.0069333 L3.76061702,10.4362667 C3.79678723,10.2293333 3.72661702,10.0181333 3.57361702,9.87164444 L0.196042553,6.63466667 C0.0191702128,6.46506667 -0.0444893617,6.21155556 0.0318297872,5.9808 C0.108148936,5.75004444 0.31106383,5.58151111 0.55593617,5.54666667 L5.22478723,4.88 C5.43602128,4.84977778 5.61904255,4.71928889 5.71344681,4.53084444 L7.80191489,0.372977778 Z"></path>
								|                             </g>
								|                         </g>
								|                     </g>
								|                 </g>
								|             </g>
								|         </g>
								|     </g>
								| </svg>
							li.stars-list__item
								| <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16">
								|     <g fill="none" fill-rule="nonzero">
								|         <path fill="#E0E1E4" d="M7.802.373a.651.651 0 0 1 .582-.356.65.65 0 0 1 .582.356l2.087 4.158a.649.649 0 0 0 .49.349l4.667.667a.645.645 0 0 1 .524.434.63.63 0 0 1-.164.654l-3.378 3.237a.632.632 0 0 0-.187.564l.798 4.57a.634.634 0 0 1-.26.625.661.661 0 0 1-.683.049l-4.175-2.158a.659.659 0 0 0-.604 0L3.905 15.68a.66.66 0 0 1-.683-.049.633.633 0 0 1-.259-.624l.798-4.57a.631.631 0 0 0-.187-.565L.196 6.635a.63.63 0 0 1-.164-.654c.076-.231.28-.4.524-.434l4.669-.667a.648.648 0 0 0 .488-.35L7.802.374z"/>
								|         <path fill="#FF4A47" d="M7.802.373a.651.651 0 0 1 .582-.356l-.001 13.43a.655.655 0 0 0-.302.075L3.905 15.68a.66.66 0 0 1-.683-.049.633.633 0 0 1-.259-.624l.798-4.57a.631.631 0 0 0-.187-.565L.196 6.635a.63.63 0 0 1-.164-.654c.076-.231.28-.4.524-.434l4.669-.667a.648.648 0 0 0 .488-.35L7.802.374z"/>
								|     </g>
								| </svg>
						.rating
							| 4.5
					.reviews-content
						p
							|Необходимо было быстро и&nbsp;качественно сделать вёрстку сайта компании. Пробовали работать с&nbsp;разными студиями и&nbsp;фрилансерами. В&nbsp;итоге только потратили время и&nbsp;деньги.
						p
							|Ребята из&nbsp;Мегамира сделали быстро и&nbsp;классно.
					button.next-reviews
						| <svg width="12px" height="12px" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						|     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						|         <g transform="translate(-1004.000000, -6466.000000)" fill="#4A4D52" fill-rule="nonzero">
						|             <g transform="translate(100.000000, 6004.000000)">
						|                 <g transform="translate(904.000000, 462.000000)">
						|                     <g>
						|                         <path d="M11.7604481,5.42665058 L6.52648714,0.237454375 C6.20715009,-0.0791514583 5.68924965,-0.0791514583 5.3699126,0.237454375 C5.05051013,0.554125073 5.05051013,1.06746631 5.3699126,1.38413701 L9.20777994,5.18917999 L0.817806408,5.18917999 C0.366180997,5.18917999 0,5.55222912 0,6 C0,6.44768979 0.366180997,6.8108038 0.817806408,6.8108038 L9.20777994,6.8108038 L5.37004345,10.6158468 C5.05064098,10.9325175 5.05064098,11.4458587 5.37004345,11.7625294 C5.52967926,11.920735 5.7390377,12 5.94833072,12 C6.15762373,12 6.36691675,11.920735 6.52661798,11.7625294 L11.7604481,6.57333321 C12.0798506,6.25666251 12.0798506,5.74332127 11.7604481,5.42665058 Z"></path>
						|                     </g>
						|                 </g>
						|             </g>
						|         </g>
						|     </g>
						| </svg>
				.reviews-list__item
					.reviews-list__author Светлана Ю. А. 2
					.reviews-list__author-position
						| Руководитель компании <a href="//flyboots.ru/" target="_blank" class="content-link">flyboots.ru</a>
					.stars-list-wrapper
						ul.stars-list
							li.stars-list__item
								| <svg width="17px" height="16px" viewBox="0 0 17 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								|     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								|         <g transform="translate(-667.000000, -6152.000000)" fill="#FF4A47" fill-rule="nonzero">
								|             <g transform="translate(100.000000, 6004.000000)">
								|                 <g transform="translate(525.000000, 144.000000)">
								|                     <g transform="translate(0.000000, 4.000000)">
								|                         <g transform="translate(42.000000, 0.000000)">
								|                             <g>
								|                                 <path d="M7.80191489,0.372977778 C7.91151064,0.155377778 8.13721277,0.0174222222 8.38389362,0.0174222222 C8.63057447,0.0174222222 8.8566383,0.155377778 8.96587234,0.372977778 L11.0532553,4.5312 C11.1476596,4.71928889 11.3306809,4.84977778 11.5422766,4.88 L16.2104043,5.54666667 C16.4552766,5.58151111 16.6578298,5.75004444 16.7341489,5.9808 C16.8104681,6.21155556 16.7468085,6.46542222 16.5699362,6.63466667 L13.1923617,9.87164444 C13.0393617,10.0181333 12.9695532,10.2293333 13.0053617,10.4362667 L13.8025532,15.0069333 C13.8437872,15.2465778 13.7443191,15.4883556 13.5439362,15.6312889 C13.3439149,15.7735111 13.0795106,15.7923556 12.8603191,15.68 L8.68482979,13.5217778 C8.49602128,13.424 8.26995745,13.424 8.08078723,13.5217778 L3.90529787,15.6796444 C3.68682979,15.7923556 3.42170213,15.7738667 3.22168085,15.6312889 C3.02165957,15.4887111 2.92182979,15.2465778 2.96342553,15.0069333 L3.76061702,10.4362667 C3.79678723,10.2293333 3.72661702,10.0181333 3.57361702,9.87164444 L0.196042553,6.63466667 C0.0191702128,6.46506667 -0.0444893617,6.21155556 0.0318297872,5.9808 C0.108148936,5.75004444 0.31106383,5.58151111 0.55593617,5.54666667 L5.22478723,4.88 C5.43602128,4.84977778 5.61904255,4.71928889 5.71344681,4.53084444 L7.80191489,0.372977778 Z"></path>
								|                             </g>
								|                         </g>
								|                     </g>
								|                 </g>
								|             </g>
								|         </g>
								|     </g>
								| </svg>
							li.stars-list__item
								| <svg width="17px" height="16px" viewBox="0 0 17 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								|     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								|         <g transform="translate(-667.000000, -6152.000000)" fill="#FF4A47" fill-rule="nonzero">
								|             <g transform="translate(100.000000, 6004.000000)">
								|                 <g transform="translate(525.000000, 144.000000)">
								|                     <g transform="translate(0.000000, 4.000000)">
								|                         <g transform="translate(42.000000, 0.000000)">
								|                             <g>
								|                                 <path d="M7.80191489,0.372977778 C7.91151064,0.155377778 8.13721277,0.0174222222 8.38389362,0.0174222222 C8.63057447,0.0174222222 8.8566383,0.155377778 8.96587234,0.372977778 L11.0532553,4.5312 C11.1476596,4.71928889 11.3306809,4.84977778 11.5422766,4.88 L16.2104043,5.54666667 C16.4552766,5.58151111 16.6578298,5.75004444 16.7341489,5.9808 C16.8104681,6.21155556 16.7468085,6.46542222 16.5699362,6.63466667 L13.1923617,9.87164444 C13.0393617,10.0181333 12.9695532,10.2293333 13.0053617,10.4362667 L13.8025532,15.0069333 C13.8437872,15.2465778 13.7443191,15.4883556 13.5439362,15.6312889 C13.3439149,15.7735111 13.0795106,15.7923556 12.8603191,15.68 L8.68482979,13.5217778 C8.49602128,13.424 8.26995745,13.424 8.08078723,13.5217778 L3.90529787,15.6796444 C3.68682979,15.7923556 3.42170213,15.7738667 3.22168085,15.6312889 C3.02165957,15.4887111 2.92182979,15.2465778 2.96342553,15.0069333 L3.76061702,10.4362667 C3.79678723,10.2293333 3.72661702,10.0181333 3.57361702,9.87164444 L0.196042553,6.63466667 C0.0191702128,6.46506667 -0.0444893617,6.21155556 0.0318297872,5.9808 C0.108148936,5.75004444 0.31106383,5.58151111 0.55593617,5.54666667 L5.22478723,4.88 C5.43602128,4.84977778 5.61904255,4.71928889 5.71344681,4.53084444 L7.80191489,0.372977778 Z"></path>
								|                             </g>
								|                         </g>
								|                     </g>
								|                 </g>
								|             </g>
								|         </g>
								|     </g>
								| </svg>
							li.stars-list__item
								| <svg width="17px" height="16px" viewBox="0 0 17 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								|     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								|         <g transform="translate(-667.000000, -6152.000000)" fill="#FF4A47" fill-rule="nonzero">
								|             <g transform="translate(100.000000, 6004.000000)">
								|                 <g transform="translate(525.000000, 144.000000)">
								|                     <g transform="translate(0.000000, 4.000000)">
								|                         <g transform="translate(42.000000, 0.000000)">
								|                             <g>
								|                                 <path d="M7.80191489,0.372977778 C7.91151064,0.155377778 8.13721277,0.0174222222 8.38389362,0.0174222222 C8.63057447,0.0174222222 8.8566383,0.155377778 8.96587234,0.372977778 L11.0532553,4.5312 C11.1476596,4.71928889 11.3306809,4.84977778 11.5422766,4.88 L16.2104043,5.54666667 C16.4552766,5.58151111 16.6578298,5.75004444 16.7341489,5.9808 C16.8104681,6.21155556 16.7468085,6.46542222 16.5699362,6.63466667 L13.1923617,9.87164444 C13.0393617,10.0181333 12.9695532,10.2293333 13.0053617,10.4362667 L13.8025532,15.0069333 C13.8437872,15.2465778 13.7443191,15.4883556 13.5439362,15.6312889 C13.3439149,15.7735111 13.0795106,15.7923556 12.8603191,15.68 L8.68482979,13.5217778 C8.49602128,13.424 8.26995745,13.424 8.08078723,13.5217778 L3.90529787,15.6796444 C3.68682979,15.7923556 3.42170213,15.7738667 3.22168085,15.6312889 C3.02165957,15.4887111 2.92182979,15.2465778 2.96342553,15.0069333 L3.76061702,10.4362667 C3.79678723,10.2293333 3.72661702,10.0181333 3.57361702,9.87164444 L0.196042553,6.63466667 C0.0191702128,6.46506667 -0.0444893617,6.21155556 0.0318297872,5.9808 C0.108148936,5.75004444 0.31106383,5.58151111 0.55593617,5.54666667 L5.22478723,4.88 C5.43602128,4.84977778 5.61904255,4.71928889 5.71344681,4.53084444 L7.80191489,0.372977778 Z"></path>
								|                             </g>
								|                         </g>
								|                     </g>
								|                 </g>
								|             </g>
								|         </g>
								|     </g>
								| </svg>
							li.stars-list__item
								| <svg width="17px" height="16px" viewBox="0 0 17 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								|     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								|         <g transform="translate(-667.000000, -6152.000000)" fill="#FF4A47" fill-rule="nonzero">
								|             <g transform="translate(100.000000, 6004.000000)">
								|                 <g transform="translate(525.000000, 144.000000)">
								|                     <g transform="translate(0.000000, 4.000000)">
								|                         <g transform="translate(42.000000, 0.000000)">
								|                             <g>
								|                                 <path d="M7.80191489,0.372977778 C7.91151064,0.155377778 8.13721277,0.0174222222 8.38389362,0.0174222222 C8.63057447,0.0174222222 8.8566383,0.155377778 8.96587234,0.372977778 L11.0532553,4.5312 C11.1476596,4.71928889 11.3306809,4.84977778 11.5422766,4.88 L16.2104043,5.54666667 C16.4552766,5.58151111 16.6578298,5.75004444 16.7341489,5.9808 C16.8104681,6.21155556 16.7468085,6.46542222 16.5699362,6.63466667 L13.1923617,9.87164444 C13.0393617,10.0181333 12.9695532,10.2293333 13.0053617,10.4362667 L13.8025532,15.0069333 C13.8437872,15.2465778 13.7443191,15.4883556 13.5439362,15.6312889 C13.3439149,15.7735111 13.0795106,15.7923556 12.8603191,15.68 L8.68482979,13.5217778 C8.49602128,13.424 8.26995745,13.424 8.08078723,13.5217778 L3.90529787,15.6796444 C3.68682979,15.7923556 3.42170213,15.7738667 3.22168085,15.6312889 C3.02165957,15.4887111 2.92182979,15.2465778 2.96342553,15.0069333 L3.76061702,10.4362667 C3.79678723,10.2293333 3.72661702,10.0181333 3.57361702,9.87164444 L0.196042553,6.63466667 C0.0191702128,6.46506667 -0.0444893617,6.21155556 0.0318297872,5.9808 C0.108148936,5.75004444 0.31106383,5.58151111 0.55593617,5.54666667 L5.22478723,4.88 C5.43602128,4.84977778 5.61904255,4.71928889 5.71344681,4.53084444 L7.80191489,0.372977778 Z"></path>
								|                             </g>
								|                         </g>
								|                     </g>
								|                 </g>
								|             </g>
								|         </g>
								|     </g>
								| </svg>
							li.stars-list__item
								| <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16">
								|     <g fill="none" fill-rule="nonzero">
								|         <path fill="#E0E1E4" d="M7.802.373a.651.651 0 0 1 .582-.356.65.65 0 0 1 .582.356l2.087 4.158a.649.649 0 0 0 .49.349l4.667.667a.645.645 0 0 1 .524.434.63.63 0 0 1-.164.654l-3.378 3.237a.632.632 0 0 0-.187.564l.798 4.57a.634.634 0 0 1-.26.625.661.661 0 0 1-.683.049l-4.175-2.158a.659.659 0 0 0-.604 0L3.905 15.68a.66.66 0 0 1-.683-.049.633.633 0 0 1-.259-.624l.798-4.57a.631.631 0 0 0-.187-.565L.196 6.635a.63.63 0 0 1-.164-.654c.076-.231.28-.4.524-.434l4.669-.667a.648.648 0 0 0 .488-.35L7.802.374z"/>
								|         <path fill="#FF4A47" d="M7.802.373a.651.651 0 0 1 .582-.356l-.001 13.43a.655.655 0 0 0-.302.075L3.905 15.68a.66.66 0 0 1-.683-.049.633.633 0 0 1-.259-.624l.798-4.57a.631.631 0 0 0-.187-.565L.196 6.635a.63.63 0 0 1-.164-.654c.076-.231.28-.4.524-.434l4.669-.667a.648.648 0 0 0 .488-.35L7.802.374z"/>
								|     </g>
								| </svg>
						.rating
							| 4.5
					.reviews-content
						p
							| Необходимо было быстро и&nbsp;качественно сделать вёрстку сайта компании. Пробовали работать с&nbsp;разными студиями и&nbsp;фрилансерами. В&nbsp;итоге только потратили время и&nbsp;деньги.
						p
							| Ребята из&nbsp;Мегамира сделали быстро и&nbsp;классно.
					button.next-reviews
						| <svg width="12px" height="12px" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						|     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						|         <g transform="translate(-1004.000000, -6466.000000)" fill="#4A4D52" fill-rule="nonzero">
						|             <g transform="translate(100.000000, 6004.000000)">
						|                 <g transform="translate(904.000000, 462.000000)">
						|                     <g>
						|                         <path d="M11.7604481,5.42665058 L6.52648714,0.237454375 C6.20715009,-0.0791514583 5.68924965,-0.0791514583 5.3699126,0.237454375 C5.05051013,0.554125073 5.05051013,1.06746631 5.3699126,1.38413701 L9.20777994,5.18917999 L0.817806408,5.18917999 C0.366180997,5.18917999 0,5.55222912 0,6 C0,6.44768979 0.366180997,6.8108038 0.817806408,6.8108038 L9.20777994,6.8108038 L5.37004345,10.6158468 C5.05064098,10.9325175 5.05064098,11.4458587 5.37004345,11.7625294 C5.52967926,11.920735 5.7390377,12 5.94833072,12 C6.15762373,12 6.36691675,11.920735 6.52661798,11.7625294 L11.7604481,6.57333321 C12.0798506,6.25666251 12.0798506,5.74332127 11.7604481,5.42665058 Z"></path>
						|                     </g>
						|                 </g>
						|             </g>
						|         </g>
						|     </g>
						| </svg>
				.reviews-list__item
					.reviews-list__author Светлана Ю. А. 3
					.reviews-list__author-position
						| Руководитель компании <a href="//flyboots.ru/" target="_blank" class="content-link">flyboots.ru</a>
					.stars-list-wrapper
						ul.stars-list
							li.stars-list__item
								| <svg width="17px" height="16px" viewBox="0 0 17 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								|     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								|         <g transform="translate(-667.000000, -6152.000000)" fill="#FF4A47" fill-rule="nonzero">
								|             <g transform="translate(100.000000, 6004.000000)">
								|                 <g transform="translate(525.000000, 144.000000)">
								|                     <g transform="translate(0.000000, 4.000000)">
								|                         <g transform="translate(42.000000, 0.000000)">
								|                             <g>
								|                                 <path d="M7.80191489,0.372977778 C7.91151064,0.155377778 8.13721277,0.0174222222 8.38389362,0.0174222222 C8.63057447,0.0174222222 8.8566383,0.155377778 8.96587234,0.372977778 L11.0532553,4.5312 C11.1476596,4.71928889 11.3306809,4.84977778 11.5422766,4.88 L16.2104043,5.54666667 C16.4552766,5.58151111 16.6578298,5.75004444 16.7341489,5.9808 C16.8104681,6.21155556 16.7468085,6.46542222 16.5699362,6.63466667 L13.1923617,9.87164444 C13.0393617,10.0181333 12.9695532,10.2293333 13.0053617,10.4362667 L13.8025532,15.0069333 C13.8437872,15.2465778 13.7443191,15.4883556 13.5439362,15.6312889 C13.3439149,15.7735111 13.0795106,15.7923556 12.8603191,15.68 L8.68482979,13.5217778 C8.49602128,13.424 8.26995745,13.424 8.08078723,13.5217778 L3.90529787,15.6796444 C3.68682979,15.7923556 3.42170213,15.7738667 3.22168085,15.6312889 C3.02165957,15.4887111 2.92182979,15.2465778 2.96342553,15.0069333 L3.76061702,10.4362667 C3.79678723,10.2293333 3.72661702,10.0181333 3.57361702,9.87164444 L0.196042553,6.63466667 C0.0191702128,6.46506667 -0.0444893617,6.21155556 0.0318297872,5.9808 C0.108148936,5.75004444 0.31106383,5.58151111 0.55593617,5.54666667 L5.22478723,4.88 C5.43602128,4.84977778 5.61904255,4.71928889 5.71344681,4.53084444 L7.80191489,0.372977778 Z"></path>
								|                             </g>
								|                         </g>
								|                     </g>
								|                 </g>
								|             </g>
								|         </g>
								|     </g>
								| </svg>
							li.stars-list__item
								| <svg width="17px" height="16px" viewBox="0 0 17 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								|     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								|         <g transform="translate(-667.000000, -6152.000000)" fill="#FF4A47" fill-rule="nonzero">
								|             <g transform="translate(100.000000, 6004.000000)">
								|                 <g transform="translate(525.000000, 144.000000)">
								|                     <g transform="translate(0.000000, 4.000000)">
								|                         <g transform="translate(42.000000, 0.000000)">
								|                             <g>
								|                                 <path d="M7.80191489,0.372977778 C7.91151064,0.155377778 8.13721277,0.0174222222 8.38389362,0.0174222222 C8.63057447,0.0174222222 8.8566383,0.155377778 8.96587234,0.372977778 L11.0532553,4.5312 C11.1476596,4.71928889 11.3306809,4.84977778 11.5422766,4.88 L16.2104043,5.54666667 C16.4552766,5.58151111 16.6578298,5.75004444 16.7341489,5.9808 C16.8104681,6.21155556 16.7468085,6.46542222 16.5699362,6.63466667 L13.1923617,9.87164444 C13.0393617,10.0181333 12.9695532,10.2293333 13.0053617,10.4362667 L13.8025532,15.0069333 C13.8437872,15.2465778 13.7443191,15.4883556 13.5439362,15.6312889 C13.3439149,15.7735111 13.0795106,15.7923556 12.8603191,15.68 L8.68482979,13.5217778 C8.49602128,13.424 8.26995745,13.424 8.08078723,13.5217778 L3.90529787,15.6796444 C3.68682979,15.7923556 3.42170213,15.7738667 3.22168085,15.6312889 C3.02165957,15.4887111 2.92182979,15.2465778 2.96342553,15.0069333 L3.76061702,10.4362667 C3.79678723,10.2293333 3.72661702,10.0181333 3.57361702,9.87164444 L0.196042553,6.63466667 C0.0191702128,6.46506667 -0.0444893617,6.21155556 0.0318297872,5.9808 C0.108148936,5.75004444 0.31106383,5.58151111 0.55593617,5.54666667 L5.22478723,4.88 C5.43602128,4.84977778 5.61904255,4.71928889 5.71344681,4.53084444 L7.80191489,0.372977778 Z"></path>
								|                             </g>
								|                         </g>
								|                     </g>
								|                 </g>
								|             </g>
								|         </g>
								|     </g>
								| </svg>
							li.stars-list__item
								| <svg width="17px" height="16px" viewBox="0 0 17 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								|     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								|         <g transform="translate(-667.000000, -6152.000000)" fill="#FF4A47" fill-rule="nonzero">
								|             <g transform="translate(100.000000, 6004.000000)">
								|                 <g transform="translate(525.000000, 144.000000)">
								|                     <g transform="translate(0.000000, 4.000000)">
								|                         <g transform="translate(42.000000, 0.000000)">
								|                             <g>
								|                                 <path d="M7.80191489,0.372977778 C7.91151064,0.155377778 8.13721277,0.0174222222 8.38389362,0.0174222222 C8.63057447,0.0174222222 8.8566383,0.155377778 8.96587234,0.372977778 L11.0532553,4.5312 C11.1476596,4.71928889 11.3306809,4.84977778 11.5422766,4.88 L16.2104043,5.54666667 C16.4552766,5.58151111 16.6578298,5.75004444 16.7341489,5.9808 C16.8104681,6.21155556 16.7468085,6.46542222 16.5699362,6.63466667 L13.1923617,9.87164444 C13.0393617,10.0181333 12.9695532,10.2293333 13.0053617,10.4362667 L13.8025532,15.0069333 C13.8437872,15.2465778 13.7443191,15.4883556 13.5439362,15.6312889 C13.3439149,15.7735111 13.0795106,15.7923556 12.8603191,15.68 L8.68482979,13.5217778 C8.49602128,13.424 8.26995745,13.424 8.08078723,13.5217778 L3.90529787,15.6796444 C3.68682979,15.7923556 3.42170213,15.7738667 3.22168085,15.6312889 C3.02165957,15.4887111 2.92182979,15.2465778 2.96342553,15.0069333 L3.76061702,10.4362667 C3.79678723,10.2293333 3.72661702,10.0181333 3.57361702,9.87164444 L0.196042553,6.63466667 C0.0191702128,6.46506667 -0.0444893617,6.21155556 0.0318297872,5.9808 C0.108148936,5.75004444 0.31106383,5.58151111 0.55593617,5.54666667 L5.22478723,4.88 C5.43602128,4.84977778 5.61904255,4.71928889 5.71344681,4.53084444 L7.80191489,0.372977778 Z"></path>
								|                             </g>
								|                         </g>
								|                     </g>
								|                 </g>
								|             </g>
								|         </g>
								|     </g>
								| </svg>
							li.stars-list__item
								| <svg width="17px" height="16px" viewBox="0 0 17 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								|     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								|         <g transform="translate(-667.000000, -6152.000000)" fill="#FF4A47" fill-rule="nonzero">
								|             <g transform="translate(100.000000, 6004.000000)">
								|                 <g transform="translate(525.000000, 144.000000)">
								|                     <g transform="translate(0.000000, 4.000000)">
								|                         <g transform="translate(42.000000, 0.000000)">
								|                             <g>
								|                                 <path d="M7.80191489,0.372977778 C7.91151064,0.155377778 8.13721277,0.0174222222 8.38389362,0.0174222222 C8.63057447,0.0174222222 8.8566383,0.155377778 8.96587234,0.372977778 L11.0532553,4.5312 C11.1476596,4.71928889 11.3306809,4.84977778 11.5422766,4.88 L16.2104043,5.54666667 C16.4552766,5.58151111 16.6578298,5.75004444 16.7341489,5.9808 C16.8104681,6.21155556 16.7468085,6.46542222 16.5699362,6.63466667 L13.1923617,9.87164444 C13.0393617,10.0181333 12.9695532,10.2293333 13.0053617,10.4362667 L13.8025532,15.0069333 C13.8437872,15.2465778 13.7443191,15.4883556 13.5439362,15.6312889 C13.3439149,15.7735111 13.0795106,15.7923556 12.8603191,15.68 L8.68482979,13.5217778 C8.49602128,13.424 8.26995745,13.424 8.08078723,13.5217778 L3.90529787,15.6796444 C3.68682979,15.7923556 3.42170213,15.7738667 3.22168085,15.6312889 C3.02165957,15.4887111 2.92182979,15.2465778 2.96342553,15.0069333 L3.76061702,10.4362667 C3.79678723,10.2293333 3.72661702,10.0181333 3.57361702,9.87164444 L0.196042553,6.63466667 C0.0191702128,6.46506667 -0.0444893617,6.21155556 0.0318297872,5.9808 C0.108148936,5.75004444 0.31106383,5.58151111 0.55593617,5.54666667 L5.22478723,4.88 C5.43602128,4.84977778 5.61904255,4.71928889 5.71344681,4.53084444 L7.80191489,0.372977778 Z"></path>
								|                             </g>
								|                         </g>
								|                     </g>
								|                 </g>
								|             </g>
								|         </g>
								|     </g>
								| </svg>
							li.stars-list__item
								| <svg width="17px" height="16px" viewBox="0 0 17 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								|     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								|         <g transform="translate(-667.000000, -6152.000000)" fill="#E0E1E4" fill-rule="nonzero">
								|             <g transform="translate(100.000000, 6004.000000)">
								|                 <g transform="translate(525.000000, 144.000000)">
								|                     <g transform="translate(0.000000, 4.000000)">
								|                         <g transform="translate(42.000000, 0.000000)">
								|                             <g>
								|                                 <path d="M7.80191489,0.372977778 C7.91151064,0.155377778 8.13721277,0.0174222222 8.38389362,0.0174222222 C8.63057447,0.0174222222 8.8566383,0.155377778 8.96587234,0.372977778 L11.0532553,4.5312 C11.1476596,4.71928889 11.3306809,4.84977778 11.5422766,4.88 L16.2104043,5.54666667 C16.4552766,5.58151111 16.6578298,5.75004444 16.7341489,5.9808 C16.8104681,6.21155556 16.7468085,6.46542222 16.5699362,6.63466667 L13.1923617,9.87164444 C13.0393617,10.0181333 12.9695532,10.2293333 13.0053617,10.4362667 L13.8025532,15.0069333 C13.8437872,15.2465778 13.7443191,15.4883556 13.5439362,15.6312889 C13.3439149,15.7735111 13.0795106,15.7923556 12.8603191,15.68 L8.68482979,13.5217778 C8.49602128,13.424 8.26995745,13.424 8.08078723,13.5217778 L3.90529787,15.6796444 C3.68682979,15.7923556 3.42170213,15.7738667 3.22168085,15.6312889 C3.02165957,15.4887111 2.92182979,15.2465778 2.96342553,15.0069333 L3.76061702,10.4362667 C3.79678723,10.2293333 3.72661702,10.0181333 3.57361702,9.87164444 L0.196042553,6.63466667 C0.0191702128,6.46506667 -0.0444893617,6.21155556 0.0318297872,5.9808 C0.108148936,5.75004444 0.31106383,5.58151111 0.55593617,5.54666667 L5.22478723,4.88 C5.43602128,4.84977778 5.61904255,4.71928889 5.71344681,4.53084444 L7.80191489,0.372977778 Z"></path>
								|                             </g>
								|                         </g>
								|                     </g>
								|                 </g>
								|             </g>
								|         </g>
								|     </g>
								| </svg>
						.rating
							| 4
					.reviews-content
						p
							| Необходимо было быстро и&nbsp;качественно сделать вёрстку сайта компании. Пробовали работать с&nbsp;разными студиями и&nbsp;фрилансерами. В&nbsp;итоге только потратили время и&nbsp;деньги.
						p
							| Ребята из&nbsp;Мегамира сделали быстро и&nbsp;классно.
					button.next-reviews
						| <svg width="12px" height="12px" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						|     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						|         <g transform="translate(-1004.000000, -6466.000000)" fill="#4A4D52" fill-rule="nonzero">
						|             <g transform="translate(100.000000, 6004.000000)">
						|                 <g transform="translate(904.000000, 462.000000)">
						|                     <g>
						|                         <path d="M11.7604481,5.42665058 L6.52648714,0.237454375 C6.20715009,-0.0791514583 5.68924965,-0.0791514583 5.3699126,0.237454375 C5.05051013,0.554125073 5.05051013,1.06746631 5.3699126,1.38413701 L9.20777994,5.18917999 L0.817806408,5.18917999 C0.366180997,5.18917999 0,5.55222912 0,6 C0,6.44768979 0.366180997,6.8108038 0.817806408,6.8108038 L9.20777994,6.8108038 L5.37004345,10.6158468 C5.05064098,10.9325175 5.05064098,11.4458587 5.37004345,11.7625294 C5.52967926,11.920735 5.7390377,12 5.94833072,12 C6.15762373,12 6.36691675,11.920735 6.52661798,11.7625294 L11.7604481,6.57333321 C12.0798506,6.25666251 12.0798506,5.74332127 11.7604481,5.42665058 Z"></path>
						|                     </g>
						|                 </g>
						|             </g>
						|         </g>
						|     </g>
						| </svg>
				.reviews-list__item
					.reviews-list__author Светлана Ю. А. 4
					.reviews-list__author-position
						| Руководитель компании <a href="//flyboots.ru/" target="_blank" class="content-link">flyboots.ru</a>
					.stars-list-wrapper
						ul.stars-list
							li.stars-list__item
								| <svg width="17px" height="16px" viewBox="0 0 17 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								|     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								|         <g transform="translate(-667.000000, -6152.000000)" fill="#FF4A47" fill-rule="nonzero">
								|             <g transform="translate(100.000000, 6004.000000)">
								|                 <g transform="translate(525.000000, 144.000000)">
								|                     <g transform="translate(0.000000, 4.000000)">
								|                         <g transform="translate(42.000000, 0.000000)">
								|                             <g>
								|                                 <path d="M7.80191489,0.372977778 C7.91151064,0.155377778 8.13721277,0.0174222222 8.38389362,0.0174222222 C8.63057447,0.0174222222 8.8566383,0.155377778 8.96587234,0.372977778 L11.0532553,4.5312 C11.1476596,4.71928889 11.3306809,4.84977778 11.5422766,4.88 L16.2104043,5.54666667 C16.4552766,5.58151111 16.6578298,5.75004444 16.7341489,5.9808 C16.8104681,6.21155556 16.7468085,6.46542222 16.5699362,6.63466667 L13.1923617,9.87164444 C13.0393617,10.0181333 12.9695532,10.2293333 13.0053617,10.4362667 L13.8025532,15.0069333 C13.8437872,15.2465778 13.7443191,15.4883556 13.5439362,15.6312889 C13.3439149,15.7735111 13.0795106,15.7923556 12.8603191,15.68 L8.68482979,13.5217778 C8.49602128,13.424 8.26995745,13.424 8.08078723,13.5217778 L3.90529787,15.6796444 C3.68682979,15.7923556 3.42170213,15.7738667 3.22168085,15.6312889 C3.02165957,15.4887111 2.92182979,15.2465778 2.96342553,15.0069333 L3.76061702,10.4362667 C3.79678723,10.2293333 3.72661702,10.0181333 3.57361702,9.87164444 L0.196042553,6.63466667 C0.0191702128,6.46506667 -0.0444893617,6.21155556 0.0318297872,5.9808 C0.108148936,5.75004444 0.31106383,5.58151111 0.55593617,5.54666667 L5.22478723,4.88 C5.43602128,4.84977778 5.61904255,4.71928889 5.71344681,4.53084444 L7.80191489,0.372977778 Z"></path>
								|                             </g>
								|                         </g>
								|                     </g>
								|                 </g>
								|             </g>
								|         </g>
								|     </g>
								| </svg>
							li.stars-list__item
								| <svg width="17px" height="16px" viewBox="0 0 17 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								|     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								|         <g transform="translate(-667.000000, -6152.000000)" fill="#FF4A47" fill-rule="nonzero">
								|             <g transform="translate(100.000000, 6004.000000)">
								|                 <g transform="translate(525.000000, 144.000000)">
								|                     <g transform="translate(0.000000, 4.000000)">
								|                         <g transform="translate(42.000000, 0.000000)">
								|                             <g>
								|                                 <path d="M7.80191489,0.372977778 C7.91151064,0.155377778 8.13721277,0.0174222222 8.38389362,0.0174222222 C8.63057447,0.0174222222 8.8566383,0.155377778 8.96587234,0.372977778 L11.0532553,4.5312 C11.1476596,4.71928889 11.3306809,4.84977778 11.5422766,4.88 L16.2104043,5.54666667 C16.4552766,5.58151111 16.6578298,5.75004444 16.7341489,5.9808 C16.8104681,6.21155556 16.7468085,6.46542222 16.5699362,6.63466667 L13.1923617,9.87164444 C13.0393617,10.0181333 12.9695532,10.2293333 13.0053617,10.4362667 L13.8025532,15.0069333 C13.8437872,15.2465778 13.7443191,15.4883556 13.5439362,15.6312889 C13.3439149,15.7735111 13.0795106,15.7923556 12.8603191,15.68 L8.68482979,13.5217778 C8.49602128,13.424 8.26995745,13.424 8.08078723,13.5217778 L3.90529787,15.6796444 C3.68682979,15.7923556 3.42170213,15.7738667 3.22168085,15.6312889 C3.02165957,15.4887111 2.92182979,15.2465778 2.96342553,15.0069333 L3.76061702,10.4362667 C3.79678723,10.2293333 3.72661702,10.0181333 3.57361702,9.87164444 L0.196042553,6.63466667 C0.0191702128,6.46506667 -0.0444893617,6.21155556 0.0318297872,5.9808 C0.108148936,5.75004444 0.31106383,5.58151111 0.55593617,5.54666667 L5.22478723,4.88 C5.43602128,4.84977778 5.61904255,4.71928889 5.71344681,4.53084444 L7.80191489,0.372977778 Z"></path>
								|                             </g>
								|                         </g>
								|                     </g>
								|                 </g>
								|             </g>
								|         </g>
								|     </g>
								| </svg>
							li.stars-list__item
								| <svg width="17px" height="16px" viewBox="0 0 17 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								|     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								|         <g transform="translate(-667.000000, -6152.000000)" fill="#FF4A47" fill-rule="nonzero">
								|             <g transform="translate(100.000000, 6004.000000)">
								|                 <g transform="translate(525.000000, 144.000000)">
								|                     <g transform="translate(0.000000, 4.000000)">
								|                         <g transform="translate(42.000000, 0.000000)">
								|                             <g>
								|                                 <path d="M7.80191489,0.372977778 C7.91151064,0.155377778 8.13721277,0.0174222222 8.38389362,0.0174222222 C8.63057447,0.0174222222 8.8566383,0.155377778 8.96587234,0.372977778 L11.0532553,4.5312 C11.1476596,4.71928889 11.3306809,4.84977778 11.5422766,4.88 L16.2104043,5.54666667 C16.4552766,5.58151111 16.6578298,5.75004444 16.7341489,5.9808 C16.8104681,6.21155556 16.7468085,6.46542222 16.5699362,6.63466667 L13.1923617,9.87164444 C13.0393617,10.0181333 12.9695532,10.2293333 13.0053617,10.4362667 L13.8025532,15.0069333 C13.8437872,15.2465778 13.7443191,15.4883556 13.5439362,15.6312889 C13.3439149,15.7735111 13.0795106,15.7923556 12.8603191,15.68 L8.68482979,13.5217778 C8.49602128,13.424 8.26995745,13.424 8.08078723,13.5217778 L3.90529787,15.6796444 C3.68682979,15.7923556 3.42170213,15.7738667 3.22168085,15.6312889 C3.02165957,15.4887111 2.92182979,15.2465778 2.96342553,15.0069333 L3.76061702,10.4362667 C3.79678723,10.2293333 3.72661702,10.0181333 3.57361702,9.87164444 L0.196042553,6.63466667 C0.0191702128,6.46506667 -0.0444893617,6.21155556 0.0318297872,5.9808 C0.108148936,5.75004444 0.31106383,5.58151111 0.55593617,5.54666667 L5.22478723,4.88 C5.43602128,4.84977778 5.61904255,4.71928889 5.71344681,4.53084444 L7.80191489,0.372977778 Z"></path>
								|                             </g>
								|                         </g>
								|                     </g>
								|                 </g>
								|             </g>
								|         </g>
								|     </g>
								| </svg>
							li.stars-list__item
								| <svg width="17px" height="16px" viewBox="0 0 17 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								|     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								|         <g transform="translate(-667.000000, -6152.000000)" fill="#FF4A47" fill-rule="nonzero">
								|             <g transform="translate(100.000000, 6004.000000)">
								|                 <g transform="translate(525.000000, 144.000000)">
								|                     <g transform="translate(0.000000, 4.000000)">
								|                         <g transform="translate(42.000000, 0.000000)">
								|                             <g>
								|                                 <path d="M7.80191489,0.372977778 C7.91151064,0.155377778 8.13721277,0.0174222222 8.38389362,0.0174222222 C8.63057447,0.0174222222 8.8566383,0.155377778 8.96587234,0.372977778 L11.0532553,4.5312 C11.1476596,4.71928889 11.3306809,4.84977778 11.5422766,4.88 L16.2104043,5.54666667 C16.4552766,5.58151111 16.6578298,5.75004444 16.7341489,5.9808 C16.8104681,6.21155556 16.7468085,6.46542222 16.5699362,6.63466667 L13.1923617,9.87164444 C13.0393617,10.0181333 12.9695532,10.2293333 13.0053617,10.4362667 L13.8025532,15.0069333 C13.8437872,15.2465778 13.7443191,15.4883556 13.5439362,15.6312889 C13.3439149,15.7735111 13.0795106,15.7923556 12.8603191,15.68 L8.68482979,13.5217778 C8.49602128,13.424 8.26995745,13.424 8.08078723,13.5217778 L3.90529787,15.6796444 C3.68682979,15.7923556 3.42170213,15.7738667 3.22168085,15.6312889 C3.02165957,15.4887111 2.92182979,15.2465778 2.96342553,15.0069333 L3.76061702,10.4362667 C3.79678723,10.2293333 3.72661702,10.0181333 3.57361702,9.87164444 L0.196042553,6.63466667 C0.0191702128,6.46506667 -0.0444893617,6.21155556 0.0318297872,5.9808 C0.108148936,5.75004444 0.31106383,5.58151111 0.55593617,5.54666667 L5.22478723,4.88 C5.43602128,4.84977778 5.61904255,4.71928889 5.71344681,4.53084444 L7.80191489,0.372977778 Z"></path>
								|                             </g>
								|                         </g>
								|                     </g>
								|                 </g>
								|             </g>
								|         </g>
								|     </g>
								| </svg>
							li.stars-list__item
								| <svg width="17px" height="16px" viewBox="0 0 17 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								|     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								|         <g transform="translate(-667.000000, -6152.000000)" fill="#E0E1E4" fill-rule="nonzero">
								|             <g transform="translate(100.000000, 6004.000000)">
								|                 <g transform="translate(525.000000, 144.000000)">
								|                     <g transform="translate(0.000000, 4.000000)">
								|                         <g transform="translate(42.000000, 0.000000)">
								|                             <g>
								|                                 <path d="M7.80191489,0.372977778 C7.91151064,0.155377778 8.13721277,0.0174222222 8.38389362,0.0174222222 C8.63057447,0.0174222222 8.8566383,0.155377778 8.96587234,0.372977778 L11.0532553,4.5312 C11.1476596,4.71928889 11.3306809,4.84977778 11.5422766,4.88 L16.2104043,5.54666667 C16.4552766,5.58151111 16.6578298,5.75004444 16.7341489,5.9808 C16.8104681,6.21155556 16.7468085,6.46542222 16.5699362,6.63466667 L13.1923617,9.87164444 C13.0393617,10.0181333 12.9695532,10.2293333 13.0053617,10.4362667 L13.8025532,15.0069333 C13.8437872,15.2465778 13.7443191,15.4883556 13.5439362,15.6312889 C13.3439149,15.7735111 13.0795106,15.7923556 12.8603191,15.68 L8.68482979,13.5217778 C8.49602128,13.424 8.26995745,13.424 8.08078723,13.5217778 L3.90529787,15.6796444 C3.68682979,15.7923556 3.42170213,15.7738667 3.22168085,15.6312889 C3.02165957,15.4887111 2.92182979,15.2465778 2.96342553,15.0069333 L3.76061702,10.4362667 C3.79678723,10.2293333 3.72661702,10.0181333 3.57361702,9.87164444 L0.196042553,6.63466667 C0.0191702128,6.46506667 -0.0444893617,6.21155556 0.0318297872,5.9808 C0.108148936,5.75004444 0.31106383,5.58151111 0.55593617,5.54666667 L5.22478723,4.88 C5.43602128,4.84977778 5.61904255,4.71928889 5.71344681,4.53084444 L7.80191489,0.372977778 Z"></path>
								|                             </g>
								|                         </g>
								|                     </g>
								|                 </g>
								|             </g>
								|         </g>
								|     </g>
								| </svg>
						.rating
							| 4
					.reviews-content
						p
							| Необходимо было быстро и&nbsp;качественно сделать вёрстку сайта компании. Пробовали работать с&nbsp;разными студиями и&nbsp;фрилансерами. В&nbsp;итоге только потратили время и&nbsp;деньги.
						p
							| Ребята из&nbsp;Мегамира сделали быстро и&nbsp;классно.
					button.next-reviews
						| <svg width="12px" height="12px" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						|     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						|         <g transform="translate(-1004.000000, -6466.000000)" fill="#4A4D52" fill-rule="nonzero">
						|             <g transform="translate(100.000000, 6004.000000)">
						|                 <g transform="translate(904.000000, 462.000000)">
						|                     <g>
						|                         <path d="M11.7604481,5.42665058 L6.52648714,0.237454375 C6.20715009,-0.0791514583 5.68924965,-0.0791514583 5.3699126,0.237454375 C5.05051013,0.554125073 5.05051013,1.06746631 5.3699126,1.38413701 L9.20777994,5.18917999 L0.817806408,5.18917999 C0.366180997,5.18917999 0,5.55222912 0,6 C0,6.44768979 0.366180997,6.8108038 0.817806408,6.8108038 L9.20777994,6.8108038 L5.37004345,10.6158468 C5.05064098,10.9325175 5.05064098,11.4458587 5.37004345,11.7625294 C5.52967926,11.920735 5.7390377,12 5.94833072,12 C6.15762373,12 6.36691675,11.920735 6.52661798,11.7625294 L11.7604481,6.57333321 C12.0798506,6.25666251 12.0798506,5.74332127 11.7604481,5.42665058 Z"></path>
						|                     </g>
						|                 </g>
						|             </g>
						|         </g>
						|     </g>
						| </svg>
				.reviews-list__item
					.reviews-list__author Светлана Ю. А. 5
					.reviews-list__author-position
						| Руководитель компании <a href="//flyboots.ru/" target="_blank" class="content-link">flyboots.ru</a>
					.stars-list-wrapper
						ul.stars-list
							li.stars-list__item
								| <svg width="17px" height="16px" viewBox="0 0 17 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								|     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								|         <g transform="translate(-667.000000, -6152.000000)" fill="#FF4A47" fill-rule="nonzero">
								|             <g transform="translate(100.000000, 6004.000000)">
								|                 <g transform="translate(525.000000, 144.000000)">
								|                     <g transform="translate(0.000000, 4.000000)">
								|                         <g transform="translate(42.000000, 0.000000)">
								|                             <g>
								|                                 <path d="M7.80191489,0.372977778 C7.91151064,0.155377778 8.13721277,0.0174222222 8.38389362,0.0174222222 C8.63057447,0.0174222222 8.8566383,0.155377778 8.96587234,0.372977778 L11.0532553,4.5312 C11.1476596,4.71928889 11.3306809,4.84977778 11.5422766,4.88 L16.2104043,5.54666667 C16.4552766,5.58151111 16.6578298,5.75004444 16.7341489,5.9808 C16.8104681,6.21155556 16.7468085,6.46542222 16.5699362,6.63466667 L13.1923617,9.87164444 C13.0393617,10.0181333 12.9695532,10.2293333 13.0053617,10.4362667 L13.8025532,15.0069333 C13.8437872,15.2465778 13.7443191,15.4883556 13.5439362,15.6312889 C13.3439149,15.7735111 13.0795106,15.7923556 12.8603191,15.68 L8.68482979,13.5217778 C8.49602128,13.424 8.26995745,13.424 8.08078723,13.5217778 L3.90529787,15.6796444 C3.68682979,15.7923556 3.42170213,15.7738667 3.22168085,15.6312889 C3.02165957,15.4887111 2.92182979,15.2465778 2.96342553,15.0069333 L3.76061702,10.4362667 C3.79678723,10.2293333 3.72661702,10.0181333 3.57361702,9.87164444 L0.196042553,6.63466667 C0.0191702128,6.46506667 -0.0444893617,6.21155556 0.0318297872,5.9808 C0.108148936,5.75004444 0.31106383,5.58151111 0.55593617,5.54666667 L5.22478723,4.88 C5.43602128,4.84977778 5.61904255,4.71928889 5.71344681,4.53084444 L7.80191489,0.372977778 Z"></path>
								|                             </g>
								|                         </g>
								|                     </g>
								|                 </g>
								|             </g>
								|         </g>
								|     </g>
								| </svg>
							li.stars-list__item
								| <svg width="17px" height="16px" viewBox="0 0 17 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								|     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								|         <g transform="translate(-667.000000, -6152.000000)" fill="#FF4A47" fill-rule="nonzero">
								|             <g transform="translate(100.000000, 6004.000000)">
								|                 <g transform="translate(525.000000, 144.000000)">
								|                     <g transform="translate(0.000000, 4.000000)">
								|                         <g transform="translate(42.000000, 0.000000)">
								|                             <g>
								|                                 <path d="M7.80191489,0.372977778 C7.91151064,0.155377778 8.13721277,0.0174222222 8.38389362,0.0174222222 C8.63057447,0.0174222222 8.8566383,0.155377778 8.96587234,0.372977778 L11.0532553,4.5312 C11.1476596,4.71928889 11.3306809,4.84977778 11.5422766,4.88 L16.2104043,5.54666667 C16.4552766,5.58151111 16.6578298,5.75004444 16.7341489,5.9808 C16.8104681,6.21155556 16.7468085,6.46542222 16.5699362,6.63466667 L13.1923617,9.87164444 C13.0393617,10.0181333 12.9695532,10.2293333 13.0053617,10.4362667 L13.8025532,15.0069333 C13.8437872,15.2465778 13.7443191,15.4883556 13.5439362,15.6312889 C13.3439149,15.7735111 13.0795106,15.7923556 12.8603191,15.68 L8.68482979,13.5217778 C8.49602128,13.424 8.26995745,13.424 8.08078723,13.5217778 L3.90529787,15.6796444 C3.68682979,15.7923556 3.42170213,15.7738667 3.22168085,15.6312889 C3.02165957,15.4887111 2.92182979,15.2465778 2.96342553,15.0069333 L3.76061702,10.4362667 C3.79678723,10.2293333 3.72661702,10.0181333 3.57361702,9.87164444 L0.196042553,6.63466667 C0.0191702128,6.46506667 -0.0444893617,6.21155556 0.0318297872,5.9808 C0.108148936,5.75004444 0.31106383,5.58151111 0.55593617,5.54666667 L5.22478723,4.88 C5.43602128,4.84977778 5.61904255,4.71928889 5.71344681,4.53084444 L7.80191489,0.372977778 Z"></path>
								|                             </g>
								|                         </g>
								|                     </g>
								|                 </g>
								|             </g>
								|         </g>
								|     </g>
								| </svg>
							li.stars-list__item
								| <svg width="17px" height="16px" viewBox="0 0 17 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								|     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								|         <g transform="translate(-667.000000, -6152.000000)" fill="#FF4A47" fill-rule="nonzero">
								|             <g transform="translate(100.000000, 6004.000000)">
								|                 <g transform="translate(525.000000, 144.000000)">
								|                     <g transform="translate(0.000000, 4.000000)">
								|                         <g transform="translate(42.000000, 0.000000)">
								|                             <g>
								|                                 <path d="M7.80191489,0.372977778 C7.91151064,0.155377778 8.13721277,0.0174222222 8.38389362,0.0174222222 C8.63057447,0.0174222222 8.8566383,0.155377778 8.96587234,0.372977778 L11.0532553,4.5312 C11.1476596,4.71928889 11.3306809,4.84977778 11.5422766,4.88 L16.2104043,5.54666667 C16.4552766,5.58151111 16.6578298,5.75004444 16.7341489,5.9808 C16.8104681,6.21155556 16.7468085,6.46542222 16.5699362,6.63466667 L13.1923617,9.87164444 C13.0393617,10.0181333 12.9695532,10.2293333 13.0053617,10.4362667 L13.8025532,15.0069333 C13.8437872,15.2465778 13.7443191,15.4883556 13.5439362,15.6312889 C13.3439149,15.7735111 13.0795106,15.7923556 12.8603191,15.68 L8.68482979,13.5217778 C8.49602128,13.424 8.26995745,13.424 8.08078723,13.5217778 L3.90529787,15.6796444 C3.68682979,15.7923556 3.42170213,15.7738667 3.22168085,15.6312889 C3.02165957,15.4887111 2.92182979,15.2465778 2.96342553,15.0069333 L3.76061702,10.4362667 C3.79678723,10.2293333 3.72661702,10.0181333 3.57361702,9.87164444 L0.196042553,6.63466667 C0.0191702128,6.46506667 -0.0444893617,6.21155556 0.0318297872,5.9808 C0.108148936,5.75004444 0.31106383,5.58151111 0.55593617,5.54666667 L5.22478723,4.88 C5.43602128,4.84977778 5.61904255,4.71928889 5.71344681,4.53084444 L7.80191489,0.372977778 Z"></path>
								|                             </g>
								|                         </g>
								|                     </g>
								|                 </g>
								|             </g>
								|         </g>
								|     </g>
								| </svg>
							li.stars-list__item
								| <svg width="17px" height="16px" viewBox="0 0 17 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								|     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								|         <g transform="translate(-667.000000, -6152.000000)" fill="#FF4A47" fill-rule="nonzero">
								|             <g transform="translate(100.000000, 6004.000000)">
								|                 <g transform="translate(525.000000, 144.000000)">
								|                     <g transform="translate(0.000000, 4.000000)">
								|                         <g transform="translate(42.000000, 0.000000)">
								|                             <g>
								|                                 <path d="M7.80191489,0.372977778 C7.91151064,0.155377778 8.13721277,0.0174222222 8.38389362,0.0174222222 C8.63057447,0.0174222222 8.8566383,0.155377778 8.96587234,0.372977778 L11.0532553,4.5312 C11.1476596,4.71928889 11.3306809,4.84977778 11.5422766,4.88 L16.2104043,5.54666667 C16.4552766,5.58151111 16.6578298,5.75004444 16.7341489,5.9808 C16.8104681,6.21155556 16.7468085,6.46542222 16.5699362,6.63466667 L13.1923617,9.87164444 C13.0393617,10.0181333 12.9695532,10.2293333 13.0053617,10.4362667 L13.8025532,15.0069333 C13.8437872,15.2465778 13.7443191,15.4883556 13.5439362,15.6312889 C13.3439149,15.7735111 13.0795106,15.7923556 12.8603191,15.68 L8.68482979,13.5217778 C8.49602128,13.424 8.26995745,13.424 8.08078723,13.5217778 L3.90529787,15.6796444 C3.68682979,15.7923556 3.42170213,15.7738667 3.22168085,15.6312889 C3.02165957,15.4887111 2.92182979,15.2465778 2.96342553,15.0069333 L3.76061702,10.4362667 C3.79678723,10.2293333 3.72661702,10.0181333 3.57361702,9.87164444 L0.196042553,6.63466667 C0.0191702128,6.46506667 -0.0444893617,6.21155556 0.0318297872,5.9808 C0.108148936,5.75004444 0.31106383,5.58151111 0.55593617,5.54666667 L5.22478723,4.88 C5.43602128,4.84977778 5.61904255,4.71928889 5.71344681,4.53084444 L7.80191489,0.372977778 Z"></path>
								|                             </g>
								|                         </g>
								|                     </g>
								|                 </g>
								|             </g>
								|         </g>
								|     </g>
								| </svg>
							li.stars-list__item
								| <svg width="17px" height="16px" viewBox="0 0 17 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								|     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								|         <g transform="translate(-667.000000, -6152.000000)" fill="#E0E1E4" fill-rule="nonzero">
								|             <g transform="translate(100.000000, 6004.000000)">
								|                 <g transform="translate(525.000000, 144.000000)">
								|                     <g transform="translate(0.000000, 4.000000)">
								|                         <g transform="translate(42.000000, 0.000000)">
								|                             <g>
								|                                 <path d="M7.80191489,0.372977778 C7.91151064,0.155377778 8.13721277,0.0174222222 8.38389362,0.0174222222 C8.63057447,0.0174222222 8.8566383,0.155377778 8.96587234,0.372977778 L11.0532553,4.5312 C11.1476596,4.71928889 11.3306809,4.84977778 11.5422766,4.88 L16.2104043,5.54666667 C16.4552766,5.58151111 16.6578298,5.75004444 16.7341489,5.9808 C16.8104681,6.21155556 16.7468085,6.46542222 16.5699362,6.63466667 L13.1923617,9.87164444 C13.0393617,10.0181333 12.9695532,10.2293333 13.0053617,10.4362667 L13.8025532,15.0069333 C13.8437872,15.2465778 13.7443191,15.4883556 13.5439362,15.6312889 C13.3439149,15.7735111 13.0795106,15.7923556 12.8603191,15.68 L8.68482979,13.5217778 C8.49602128,13.424 8.26995745,13.424 8.08078723,13.5217778 L3.90529787,15.6796444 C3.68682979,15.7923556 3.42170213,15.7738667 3.22168085,15.6312889 C3.02165957,15.4887111 2.92182979,15.2465778 2.96342553,15.0069333 L3.76061702,10.4362667 C3.79678723,10.2293333 3.72661702,10.0181333 3.57361702,9.87164444 L0.196042553,6.63466667 C0.0191702128,6.46506667 -0.0444893617,6.21155556 0.0318297872,5.9808 C0.108148936,5.75004444 0.31106383,5.58151111 0.55593617,5.54666667 L5.22478723,4.88 C5.43602128,4.84977778 5.61904255,4.71928889 5.71344681,4.53084444 L7.80191489,0.372977778 Z"></path>
								|                             </g>
								|                         </g>
								|                     </g>
								|                 </g>
								|             </g>
								|         </g>
								|     </g>
								| </svg>
						.rating
							| 4
					.reviews-content
						p
							| Необходимо было быстро и&nbsp;качественно сделать вёрстку сайта компании. Пробовали работать с&nbsp;разными студиями и&nbsp;фрилансерами. В&nbsp;итоге только потратили время и&nbsp;деньги.
						p
							| Ребята из&nbsp;Мегамира сделали быстро и&nbsp;классно.
					button.next-reviews
						| <svg width="12px" height="12px" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						|     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						|         <g transform="translate(-1004.000000, -6466.000000)" fill="#4A4D52" fill-rule="nonzero">
						|             <g transform="translate(100.000000, 6004.000000)">
						|                 <g transform="translate(904.000000, 462.000000)">
						|                     <g>
						|                         <path d="M11.7604481,5.42665058 L6.52648714,0.237454375 C6.20715009,-0.0791514583 5.68924965,-0.0791514583 5.3699126,0.237454375 C5.05051013,0.554125073 5.05051013,1.06746631 5.3699126,1.38413701 L9.20777994,5.18917999 L0.817806408,5.18917999 C0.366180997,5.18917999 0,5.55222912 0,6 C0,6.44768979 0.366180997,6.8108038 0.817806408,6.8108038 L9.20777994,6.8108038 L5.37004345,10.6158468 C5.05064098,10.9325175 5.05064098,11.4458587 5.37004345,11.7625294 C5.52967926,11.920735 5.7390377,12 5.94833072,12 C6.15762373,12 6.36691675,11.920735 6.52661798,11.7625294 L11.7604481,6.57333321 C12.0798506,6.25666251 12.0798506,5.74332127 11.7604481,5.42665058 Z"></path>
						|                     </g>
						|                 </g>
						|             </g>
						|         </g>
						|     </g>
						| </svg>
mixin reviews-block(class_modification)
	if class_modification === undefined
		section(class= 'reviews')
			+reviews-content
	else
		section(class= 'reviews ' + class_modification)
			+reviews-content