.grey-block__col_operation-procedure {
	margin-right: 120px !important;
}
.advantages-list_operation-procedure {
	width: 416px;
}
.advantages-list__item_operation-procedure {
	padding-left: 24px;
	padding-right: 24px;
}