.template-wrapper_header {
	padding: 30px 0 39px;
	display: flex;
	align-items: center;
}
.header-logo {
	display: flex;
	align-items: center;
}
.main-header {
	border-bottom: 1px solid $color-grey-header-border;
}
.main-menu__list {
	display: flex;
	align-items: center;
}
.burger-navigation {
	width: 24px;
	height: 24px;
	position: relative;
	margin-left: 80px;
	cursor: pointer;
	margin-top: 6px;
	border-radius: 2px;
}
.burger-navigation__item {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	background-color: $color-main-fonts;
	width: 100%;
	height: 3px;
	transition: .3s ease;
}
.burger-navigation__item:nth-child(1) {
	top: calc(50% - 5px);
}
.burger-navigation__item:nth-child(2) {
	bottom: calc(50% - 5px);
}
.header-logo__text {
	font-size: 14px;
	line-height: 1.43;
	color: $color-header-information;
}
.header-svg-logo {
	margin-right: 16px;
}
.header-logo {
	margin-right: 64px;
}
.header-information__phone {
	font-size: 16px;
	font-weight: 700;
	line-height: 1.5;
	border-radius: 2px;
}
.header-information__working-hours {
	font-size: 14px;
	line-height: 1.43;
	margin-top: -2px;
}
.header-information {
	padding-left: 25px;
	//padding-bottom: 3px;
	position: relative;
	&::before {
		content: "";
		display: block;
		position: absolute;
		top: 6px;
		left: 0;
		width: 1px;
		height: calc(100% - 3px);
		background-color: $color-grey-header-border;
	}
}
.main-menu {
	margin-left: auto;
}
.main-menu__list-item:not(:last-child) {
	margin-right: 26px;
}
.main-menu__list-item a {
	font-size: 18px;
	font-weight: 600;
	line-height: 1.33;
	border-radius: 2px;
	transition: .3s ease;
	&:hover {
		color: $color-blue-button;
	}
}
.burger-navigation.active .burger-navigation__item:nth-child(1) {
	top: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
}
.burger-navigation.active .burger-navigation__item:nth-child(2) {
	bottom: 50%;
	transform: translate(-50%, 50%) rotate(-45deg);
}
.main-menu__list-item.active a {
	color: $color-grey-hover-link;
	pointer-events: none;
}