@media (max-height: 840px) {
	.scroll-icon {
		bottom: 50px;
	}
}
@media (max-height: 720px) {
	//.full-height {
	//	min-height: auto;
	//}
	.template-wrapper_welcom-block {
		height: auto;
	}
	.scroll-icon {
		position: relative;
		bottom: 0;
		display: flex;
		justify-content: center;
		margin-top: 100px;
	}
}
@media (max-width: 1280px) {
	.template-wrapper {
		padding-left: 40px;
		padding-right: 40px;
	}
}
@media (max-width: 1200px) {
	.main-h1,
	.main-h2 {
		font-size: 48px;
		line-height: 1;
	}
	.main-h2 {
		margin-bottom: 16px;
	}
	.typed-text-wrapper .typed-cursor {
		font-size: 48px;
	}
	.typed-text-wrapper {
		margin-bottom: 19px;
	}
	.prev-text {
		font-size: 20px;
		line-height: 1.6;
		margin-bottom: 39px;
	}
	.btn {
		font-size: 18px;
	}
	.btn_welcom-block {
		padding-right: 28px;
		padding-left: 27px;
	}
	.grey-block__text {
		font-size: 20px;
		line-height: 1.6;
	}
	.section-wrapper {
		//padding-top: 54px;
		//padding-bottom: 96px;
		padding-top: 74px;
		padding-bottom: 130px;
	}
	.advantages-list {
		width: 344px;
		height: 336px;
		margin-top: 0;
	}
	.advantages-list__item {
		padding: 56px 24px 50px;
	}
	.template-wrapper_welcom-block {
		padding-top: 54px;
		padding-bottom: 90px;
	}
	.advantages-list__item-icon {
		width: 96px;
		height: 96px;
		flex-shrink: 0;
		margin-bottom: 29px;
		svg {
			width: 48px !important;
			height: 48px !important;
		}
	}
	.advantages-title {
		font-size: 20px;
		margin-bottom: 9px;
	}
	.advantages-text {
		font-size: 16px;
		line-height: 1.5;
	}
	.projects-wrapper {
		margin-top: 59px;
	}
	.layout-cost {
		margin-top: 150px;
		box-shadow: none;
		padding: 0;
	}
	.layout-cost__title {
		margin-bottom: 19px;
	}
	.layout-cost__text {
		font-size: 20px;
		line-height: 1.6;
	}
	.stars-block {
		display: flex;
	}
	.stars-list-wrapper {
		margin-right: 16px;
		margin-bottom: 0;
	}
	.stars-list__item svg {
		width: 12px !important;
		height: 12px !important;
	}
	.rating_all-reviews {
		font-size: 14px;
	}
	.stars-list {
		align-items: baseline;
		margin-right: 12px;
	}
	.stars-list__item {
		display: flex;
		align-items: flex-start;
	}
	.number-of-reviews {
		font-size: 14px;
		line-height: 1.71;
	}
	.reviews-list__author {
		font-size: 20px;
		line-height: 1.2;
	}
	.reviews-list__author-position {
		font-size: 14px;
		line-height: 1.43;
		margin-bottom: 19px;
	}
	.rating {
		font-size: 14px;
		line-height: 1.43;
	}
	.reviews-content {
		margin-top: 18px;
		p {
			font-size: 14px;
			line-height: 1.71;
			margin-bottom: 8px;
		}
	}
	.reviews-list {
		height: 380px;
	}
	.competencies__item {
		margin-right: 16px;
		& svg {
			width: auto !important;
			height: 24px !important;
		}
	}
	.team-list__item {
		width: calc(100% / 3 - 28px);
	}
	.template-wrapper_request {
		box-shadow: none;
		margin-top: 76px;
	}
	.request-content__text {
		font-size: 20px;
		line-height: 1.6;
	}
	.rocket svg {
		width: auto !important;
		height: 39px !important;
	}
	.rocket {
		transform: translate(7px, -1px);
	}
	.template-wrapper_up-wrapper {
		margin-top: 27px;
		margin-bottom: 32px;
	}
	.footer-phone {
		font-size: 34px;
		margin-bottom: 10px;
	}
	.footer-operating-mode {
		font-size: 14px;
	}
	.call-text {
		margin-bottom: 18px;
	}
	.actual-address, .inn,
	.public-offer {
		font-size: 13px;
		line-height: 20px;
	}
	.footer-link {
		width: 12px !important;
		height: 12px !important;
	}
	.grey-block__col,
	.grey-block__col:nth-child(1) {
		width: 50%;
	}
	.team-list__row:not(:last-child) {
		margin-bottom: 56px;
	}
	.footer-col {
		width: 50%;
	}
	.footer-col_footer-phone {
		margin-right: 144px;
	}
	.request-content {
		width: calc(50% - 56px);
	}
	.grey-block__col_our-team:nth-child(1) {
		margin-right: 144px !important;
	}
	.grey-block__col_our-team:nth-child(2) {
		flex-shrink: 0;
	}
	.red-text {
		display: block;
	}
	.main-h1 .red-text {
		display: inline;
	}
	.footer-col_information {
		flex-shrink: 0;
	}
	.main-menu {
		display: none;
	}
	.burger-navigation {
		margin-left: auto;
	}
	.projects-slider-col {
		width: 70%;
	}
	.projects-description-col {
		width: 30%;
	}
	.br_our-team {
		display: block;
	}
	.team-member-name {
		line-height: 1.4;
		margin-bottom: 3px;
	}
}
@media (max-width: 1024px) {
	.animation-advantages {
		height: auto !important;
	}
	.section-wrapper {
		flex-direction: column;
	}
	.full-height {
		min-height: auto;
	}
	.grey-block__col {
		width: 100%;
	}
	.advantages-list {
		height: auto;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}
	.advantages-list__item {
		width: 344px;
		height: 336px;
		position: static;
		animation: none !important;
		transform: none !important;
		opacity: 1 !important;
		margin-bottom: 40px;
		margin-right: 40px;
	}
	.advantages-list__item:last-child {
		margin-bottom: 0;
	}
	.grey-block__col:nth-child(1) {
		width: calc(100% - 144px);
	}
	.main-h2 {
		.br {
			display: inline;
		}
		.red-text {
			display: inline;
		}
	}
	.grey-block__text {
		margin-bottom: 47px;
		.br {
			display: inline;
		}
	}
}