// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-placeholder: #b9b9bf;
$color-main-fonts: #151515;

// FONTS
$main-fonts: 'IBM Plex Sans', sans-serif;
