// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-placeholder: #b9b9bf;
$color-main-fonts: #151515;
$color-grey-header-border: #e0e1e4;
$color-header-information: #4a4d52;
$color-red-text: #ff4a47;
$color-blue-button: #0066ff;
$color-grey-prev-text: #4a4d52;
$color-dark-blue-hover-btn: #0047b3;
$color-grey-scroll-block: #fafafa;
$color-grey-background-project-slider: rgba(250,250,250,.95);
$color-dark-grey-header-slider: #dcdce0;
$color-grey-header-dots: #b9b9bf;
$color-grey-more-show-button: #eeeeee;
$color-black-add-file: #1d1d1d;
$color-border-color-hover: #9393a1;
$color-yellow-answer-icon: #ffe769;

// FONTS
$main-fonts: 'IBM Plex Sans', sans-serif;
